[2013-05-04 07:59] Maxhy opened #1 "Mifare Plus implementation review"
Mifare Plus implementation is missing several features and has code duplication between its CardProviders and Mifare Classic implementation from which it should inherits from.

[2013-05-04 08:02] Maxhy opened #2 "Sony FeliCa"
Add Sony FeliCa chip support for the few PC/SC readers compliant with Sony FeliCa.

[2013-05-04 08:04] Maxhy opened #3 "DESFire EV2"
NXP is launching Mifare DESFire EV2 chip this year. Adding its support into the library is important.
Dedicated wiki page with technical information about the Mifare DESFire EV2 specification: http://liblogicalaccess.islog.com/wiki/doku.php/mifare-desfire-ev2-examples

[2013-05-04 08:13] Maxhy opened #4 "'No response receive' on serial port readers"
Readers communicating on serial ports doesn't get any response anymore. Communication link seems to have been broken since we drop libsystools dependency.

[2013-05-04 10:05] Maxhy opened #5 "Implement NFC Tag as a Card Service"
NFC Tag can be easily implemented into the core as a new card service.
Specification is well documented and it is not complicated to do. We should do it.

[2013-05-04 10:06] Maxhy opened #6 "Add libnfc from NXP as a Reader Provider"
libnfc from NXP can be easily added as an independent new ReaderProvider plug-in.
Should we require a new abstraction layer over peer-to-peer communication?

[2013-05-04 10:07] Maxhy opened #7 "Add Rpleth reader"
Add the current Rpleth reader project which is over Arduino, as a new Reader Provider.

[2013-05-04 10:09] Maxhy opened #8 "ARM compatibility"
Make LibLogicalAccess core and plug-ins compatible with ARM platforms for Windows and Linux.

[2013-05-06 16:51] Maxhy opened #9 "Support PC/SC v2 and improve reader model identification"
Some parts of PC/SC v2 should be implemented to better identify a PC/SC reader model.
See

http://ludovicrousseau.blogspot.fr/2011/11/identifying-reader-model.html
http://ludovicrousseau.blogspot.fr/2012/04/identifying-reader-model-part-2.html

[2013-05-06 16:53] Maxhy opened #10 "Improve PC/SC card type identification"
PC/SC card type identification code based on ATR is the oldest code into the library. And it's ugly.

Should be cleaned and improved.

[2013-05-23 14:04] #4 closed, assigned to Maxhy

[2013-05-31 15:58] Maxhy opened #11 "Cascade ReaderCardAdapter"
To have more flexibility, we should be able to cascade several ReaderCardAdapter (having a serial communication protocol over ethernet for example).
That also means the ReaderCardAdapter choice should be an option of the ReaderUnitConfiguration, and maybe have a new abstraction layer named ReaderCardAdapterConfiguration ?

[2013-06-13 14:05] #7 closed, assigned to guillaume-islog

[2013-07-16 19:26] fpeterschmitt opened #12 "Portability – FreeBSD and further"
If you care a little for BSD systems, and notably FreeBSD, you can take in account this patch: http://peterschmitt.fr/liblogicalaccess-freebsd-port.txt

In the first line we have link targets that are FreeBSD specific (and I don't know about others), dl is part of libc. I don't know how to tell CMake to take different link for one precise OS.

It is possible too to use the **unix** define for any

[2013-07-16 21:17] Maxhy opened #13 "Explicit operator bool conversion on smart pointers"
Since boost 1.53, smart pointers now use explicit operator bool on C++11 compilers. Code must be changed to replace implicit conversion by explicit conversion.

See http://stackoverflow.com/questions/15234527/boost-1-53-local-date-time-compiler-error-with-std-c0x for example.

[2013-07-17 21:16] #12 closed, assigned to Liryna

[2013-07-17 21:27] #13 closed, assigned to Maxhy

[2013-07-20 07:55] #11 closed, assigned to nobody

[2013-07-20 08:26] Maxhy opened #15 "RC632 protocol, librfid and OpenPCD project"
Adding RC632 (http://www.nxp.com/documents/data_sheet/CLRC632.pdf) protocol support to LibLogicalAccess.
This protocol is more 'low level' that current implemented protocol but could easily be implemented to liblogicalacccess as a new reader plug-in with some inherited chip commands. This would add support to all not pc/sc compliant readers using RC632 chip, and so also support the openpcd v1 read

[2013-07-20 08:32] Maxhy opened #16 "Omnikey 5x27 support"
The new 5x27 family Omnikey readers are highly motivating. Both 125Khz and 13.56Mhz, multi ISO support and with strong cryptography functionality, we should add specific 5x27 features to a new Omnikey5x27ReaderUnit object (currently this reader only work with T=CL chips using liblogicalaccess).

[2013-07-20 08:40] Maxhy opened #17 "SAM AV1 support"
Adding a new SAM (Security Access Module ; equals to HSM for Hardware Security Module) key storage object associated to keys to answer the security requirement on key storage confidentiality.
SAM AV1 (http://www.nxp.com/documents/short_data_sheet/P5DF081_SDS.pdf) is the current recommended SAM for Mifare chip family.

[2013-07-20 08:50] Maxhy opened #18 "OSDP protocol support"
OSDP protocol answer security issue on data communication between access control system and access control readers, in a standardized way.
Assa Abloy/HID Global company mainly push this standard with all their new readers (iClass SE readers).

[2013-07-26 09:43] guillaume-islog opened #19 "DataTransport is not implemented in all RS readers (ex: SmartID)"
You can't use a SmartID readerProvider and other DataTransport (ex: TcpDataTransport)

[2013-07-26 17:32] guillaume-islog opened #20 "Timeout in RplethDataTransport"
Always set to 0.

[2013-07-26 17:33] guillaume-islog opened #21 "DESFireISO7816Commands don't check error stat in answer."

[2013-08-05 12:17] ghost opened #22 "Connect to [reader name] missing"
Cannot connect directly to a specific reader when using COM objects.
For example, in PC/SC, we only have the possibility to [WaitInsertion] on all PC/SC devices. If using a SAM reader for example, the contactless reader will never be used.

[2013-08-05 14:32] #22 closed, assigned to nobody

[2013-08-11 17:05] LudovicRousseau opened #23 "Fails to build on Mac OS X: myexception.hpp:31:43: error: expected class name"
Hello,

If I compile on Mountain Lion (10.8) I get the error:

[code]

I am using:

[code]

[2013-08-11 18:51] #23 closed, assigned to Liryna

[2013-08-26 15:58] Liryna opened #24 "SAM AV2 support"
Develop like SAM AV1 the SAMAV2ISO7816Commandson iso7816reader.
Normally only SAMAV2ISO7816Commands has the implement or overide the SAM AV2 features.
(http://www.nxp.com/documents/short_data_sheet/P5DF081_SDS.pdf) is the current recommended SAM for Mifare chip family.

[2013-08-26 15:58] #17 closed, assigned to Liryna

[2013-08-27 05:21] #20 closed, assigned to nobody

[2013-08-27 05:22] #19 closed, assigned to Maxhy

[2013-08-28 07:52] ghost opened #25 "Keyboard reader - Stop hook process"
When configuring a keyboard reader, the hook is started. But there's no way to disconnect from reader to stop all hooks (singleton).
Would be good to provide such a way to do that.

[2013-08-29 13:26] #25 closed, assigned to nobody

[2013-08-30 08:33] Maxhy opened #26 "Update dependencies version - boost 1.56, openssl 1.0.1i"
Migrate to boost 1.54 and use the new feature Boost.Log instead of our own Logger class.

http://www.boost.org/doc/libs/1_54_0/libs/log/doc/html/log/detailed/sources.html

[2013-09-11 08:23] ghost opened #28 "GENERIC_T_CL_A type as GenericTag"
The GENERIC_T_CL_A should be generated as a generic tag chip with type "GENERIC_T_CL_A" and genericType "GenericTag".

[2013-09-12 08:07] Liryna opened #29 "SAM AV1 - Enable KeepIV during AuthenticateHost"
For now AuthenticateHost only accept authentication with Key Entry without KeepIV flag.
AuthenticateHost need be able to authenticate with and without KeepIV because DESFire by default use KeepIV during authentication and  SAM KeyEntry by default are without KeepIV.

[2013-09-12 08:07] Liryna opened #30 "SAM AV1 - ChangeKeyPICC"
For now ChangeKeyPICC don't work at all.
It need to be fix.

[2013-09-12 08:09] Liryna opened #31 "SAM AV1 - Implement Test to certify SAM"
Implement a authenticateHost during detection of SAM to test if the SAM is the SAM we are waiting.

But it have to be an option.

[2013-09-12 12:58] #31 closed, assigned to Liryna

[2013-09-12 16:47] ghost opened #32 "Implement Omnikey LAN reader"
See here for example: http://www.fargo.com/users_guides_pdf/OMNIKEY%205121%20Ethernet%20Encoder_Advanced_%20User%20guide_L001437W_%20Rev%201.0.pdf

We should establish ethernet connect/disconnect in ConnectToReader and DisconnectFromReader. Need to implement a new LAN reader.

[2013-09-13 12:54] #30 closed, assigned to Liryna

[2013-09-16 08:30] Maxhy opened #33 "ACR122 connect to card error"
Crash when connecting to a card with ACR122 readers.

[2013-09-16 09:43] c3rebro opened #34 "Exception thrown when trying to get ApplicationID(s)"
Dear ISLOG team,

when i try to list the Apps on a blank DesFire EV1 chip with
List<int> vector = new List<int>();
vector.Add(Convert.ToInt16(dcmd.GetApplicationIDs()));

i get an error like:

System.Runtime.InteropServices.SEHException (0x80004005): An external
    component throws an exception.
       at LibLogicalAccess.IDESFireEV1Commands.GetApplicationIDs()

could you please lead me to the ri

[2013-09-16 09:55] Liryna opened #35 "Generic KeyDiversification"
Key class should have a interface KeyDiversification like the KeyStorage.

This interface will be implemented by NXP diversification class and Sagem diversification class.

This will make more easy to select the type of diversification and implement on cards library.

[2013-09-18 16:17] #33 closed, assigned to nobody

[2013-09-19 09:49] #34 closed, assigned to Maxhy

[2013-09-25 13:52] #35 closed, assigned to Liryna

[2013-09-27 13:58] Liryna opened #36 "Implement getKeyDiversificationFromType"
Logicalaccess should be able to get KeyDiversification implementation from library card.

It would be great to use the library Manager like we do to find the card Type but for the Key Diversification.

This implementation will make possible to unserialize a KeyDiversification Type.

[2013-10-01 12:04] #36 closed, assigned to Liryna

[2013-10-11 15:18] Maxhy opened #37 "Key diversification and SAM"
SAM AV1 implementation should support NXP key diversification algorithm.
The chip itself has this feature, this should be supported to not decrease the security when using SAM.

[2013-10-11 19:06] reutre opened #38 "Return trailer block data when using COM wrapper to read Mifare Classic card sector."
Currently MifareCommands.ReadSector() returns the data for all sector blocks except the trailer.  There is no way (using this method) to read the value of the sector access bits.

[2013-10-16 16:36] Maxhy opened #39 "PC/SC ATR parsing from file"
Improve card type detection flexibility required by plugins using entry point function and parsing/matching from a ATR list stored on a file (smartcard_list.txt ?).

[2013-10-25 16:10] Maxhy opened #40 "Configuration file on linux"
On Linux, configuration file should be loaded from /etc/liblogicalaccess.config by default.

[2013-10-29 14:29] #40 closed, assigned to nobody

[2013-11-05 09:32] #39 closed, assigned to nobody

[2014-01-02 09:31] Maxhy opened #41 "Add MifareCommands loadkey / authenticate commands on COM layer"
MifareCommands::loadKey and MifareCommands::authenticate with keyno are missong from COM layer. Should be added.

[2014-03-06 09:15] #32 closed, assigned to nobody

[2014-03-10 14:53] Liryna opened #42 "Change sendAPDUCommand for return vector"
Now sendAPDUCommand take pointer char array with buffer size.

It should return unsigned char vector.

[2014-03-14 18:48] xantares opened #45 "shift count >= width of type"
liblogicalaccess/plugins/pluginsreaderproviders/rwk400/commands/desfirerwk400commands.cpp:189:10: warning: shift count >= width of type [-Wshift-count-overflow]
                                        tmp <<= 8;

will it be zeroed !?

[2014-03-14 18:49] xantares opened #46 "illegal character encoding"
plugins/pluginsreaderproviders/stidstr/readercardadapters/stidstrreadercardadapter.cpp:413:31: warning: illegal character encoding in string literal [-Winvalid-source-encoding]
                                        msg = std::string("MIFARE<AE> frame error.");

my compiler doesn't want the 'registrated' @R, maybe not ascii ?

[2014-03-14 18:50] xantares opened #47 "unused-value"
plugins/pluginscards/mifareultralight/mifareultralightstoragecardservice.cpp:145:106: warning: expression result unused [-Wunused-value](getMifareUltralightChip%28%29->getMifareUltralightCommands%28%29->writePage%28i, zeroblock, sizeof%28zeroblock%29%29 == 4);

the bool returned is not used

[2014-03-17 12:52] #46 closed, assigned to nobody

[2014-03-17 13:41] #45 closed, assigned to nobody

[2014-03-21 15:55] #42 closed, assigned to nobody

[2014-03-27 08:47] #16 closed, assigned to nobody

[2014-04-02 08:17] Maxhy opened #48 "Debug versions"
We should provide debug versions of released package, specially for liblogicalaccess-private releases on Windows to allow end-user application debug mode.

[2014-04-02 13:09] Maxhy opened #49 "Change AES MasterCardKey"
There is a bug on DESFireEV1 ChangeKey command implementation. If current MasterCardKey is already AES, it is not possible to change it again (got "CRC or MAC does not match data / Padding bytes not valid" error).

[2014-04-17 13:05] #24 closed, assigned to Liryna

[2014-05-12 08:35] #21 closed, assigned to nobody

[2014-05-12 12:56] #48 closed, assigned to nobody

[2014-05-12 15:48] #41 closed, assigned to nobody

[2014-05-13 07:46] #47 closed, assigned to nobody

[2014-05-13 07:59] #37 closed, assigned to nobody

[2014-05-13 08:14] #29 closed, assigned to Liryna

[2014-05-13 16:19] #49 closed, assigned to nobody

[2014-05-14 13:51] #28 closed, assigned to nobody

[2014-05-15 14:12] kempkenj opened #51 "DESFireEV1 Problem writing more than 24 Byte data to File in AES"
Hi,
i'm using the Interop.LibLogicalAccess.dll (V1.74) with VS2012 in C#.
I'm getting a "CRC or MAC does not match data / Padding bytes not valid" if i try to write more than 24 Bytes to a DESFIRE EV1 File in AES and encrypted, below 24 Bytes no problem.

Joerg

[2014-05-16 07:53] #51 closed, assigned to nobody

[2014-05-19 07:58] #38 closed, assigned to Maxhy

[2014-06-05 15:17] mvdzwaan opened #52 "DESFire EV1 not recognized"
I have a DESFire EV1 card with ATR 3B86800106757781028000

The library detects it as GENERIC_T_CL with CPS_NO_POWER

Using http://smartcard-atr.appspot.com/ with this ATR I get "NXP Mifare DESFire EV1 8K / MF3ICD81"

which is almost correct (it's a 2K card, not 8K)

[2014-06-06 13:41] #52 closed, assigned to nobody

[2014-07-16 14:34] Liryna opened #53 "Useless parameter on SAM ChangeKeyEntry"
it look like the param key become useless

https://github.com/islog/liblogicalaccess/blob/develop/plugins/pluginsreaderproviders/iso7816/commands/samav1iso7816commands.cpp#L98

https://github.com/islog/liblogicalaccess/blob/develop/plugins/pluginsreaderproviders/iso7816/commands/samav1iso7816commands.cpp#L98

[2014-07-21 10:49] Maxhy opened #54 "Add cryptography features to Custom Format"
Should support several signature and encryption algorithms.

[2014-07-25 14:32] #53 closed, assigned to Liryna

[2014-08-06 08:37] SUTJael opened #55 "_"

[2014-08-06 08:38] #55 closed, assigned to nobody

[2014-08-06 08:39] ghost opened #56 "PC/SC: Force pc/sc reader implementation by reader name"
Create a new configuration file for mapping: Implemented reader (name?, type?) <--> all reader names which map the implementation.
Load a use the configuration file into PC/SC pcscreaderunit.cpp "createPCSCReaderUnit".

[2014-08-18 08:34] Liryna opened #57 "TCP/UDP/SerialPort Optimization"
tcpdatatransport
udpdatatransport
serialportdatatransport

Should use boost::async_receive with boost::circular_buffer for handle split message.
https://stackoverflow.com/questions/14407223/boost-asio-tcp-separation-of-messages

The DataTransport::recieve should only return data when header_size has been readed with the data available.

Every readers who use this class will need to be changed.

[2014-10-13 14:48] #57 closed, assigned to Liryna

[2014-10-17 13:27] ghost opened #62 "Omnikey 5025CL - 5325 compatibility mode activation"
Implement native/compatible configuration for the 5025CL.

See doc 5025CL developer guide. Chapter 5.4.

[2014-11-24 18:26] madwyn opened #64 "How to access all the chip locations properly"
I would like to access any location of the chip using a generic way.

I read the following code from [here](http://liblogicalaccess.islog.com/wiki/doku.php/api-how-to-examples):

[code]

This leaves me the problem of how to access all the memory areas.

For example, Mifare1K will get the `childs` vector size of 16, each has 48 bytes. But the chip has 16 sectors and 3 blocks for each sector.

`(*i)

[2014-12-02 15:29] #62 closed, assigned to Liryna

[2014-12-08 15:28] Liryna opened #68 "[Mifare Classic] Wrong use of the profile"
For now, keys expected to be used for a "changekey" are stored in the sector "getMifareChip()->getNbSectors()" of the profile.
This is not user friendly !
We should think about having another way to store them.

https://github.com/islog/liblogicalaccess/blob/develop/plugins/pluginscards/mifare/mifarecommands.cpp#L320

[2014-12-11 12:58] madwyn opened #69 "[Mifare Classic] getCardType() returned "UKNOWN" for classic 1K"
My project just migrated from 1.76 to 1.77.1. Now I can't get the chip type correctly.

Mifare Classic1K has this problem, but DESFireEV1 seems working fine.

Got some log here hope it will help, thank you!

[code]

[2014-12-11 14:11] #69 closed, assigned to nobody

[2015-01-05 14:33] Liryna commented on #5
We should be able to put the tag in READ ONLY
https://github.com/islog/liblogicalaccess/blob/master/plugins/pluginscards/iso7816/iso7816nfctag4cardservice.cpp#L35

[2015-01-06 12:42] nimch opened #73 "Initialize a reader connection failed"
Hello.
I'm a developer and I'm trying to use liblogicalaccess. I work in a virtualized debian 8 (vmware), I installed dependencies.

I've started with the examples on the wiki page and I'm stuck on the first : "Initialize a reader connection". Compilation is going well but the program crashes at the 3rd line because readerConfig-> getReaderProvider () is NULL. I read in the FAQ to verify the insta

[2015-01-06 12:50] Liryna commented on #73
Hi,
it happened that readerConfig->getReaderProvider () is NULL when the project is not linking with pcsc-lite library.
Can you try to add pcsc-lite as dependancy to your project ?

For Windows, I have never seen such error :'( logicalaccess::LibraryManager::getInstance is part of the Core so there should be no problem
could you give more information ?

[2015-01-06 13:13] nimch commented on #73
Hi
I've explicitly linked the lib with : g++ -g main.cpp -llogicalaccess -lpcsclite -std=c++11 -DUNIX -o prog and I had the same behaviour.

For windows, I compiled with Visual Studio Express 2013 and added liblogicalaccess path to the linker.

Thanks !

[2015-01-06 13:31] Liryna commented on #73
Quick test: Can you try to do g++ -g main.cpp -lpcsclite -std=c++11 -llogicalaccess -DUNIX -o prog

[2015-01-06 13:37] nimch commented on #73
same behaviour ! segmentation fault !

[2015-01-06 14:02] Liryna commented on #73
Ok I probably understood your probleme.
Liblogicalaccess is using the config file (https://github.com/islog/liblogicalaccess/blob/master/liblogicalaccess.config) for getting the PluginFolders.
This config file have to be in the same folder as the software for linux and in the same folder as the library for windows.

PluginFolders is where you have libpcscreaders.so

[2015-01-06 14:18] nimch commented on #73
Yes you do !

After modifying PluginFolders' path (was /usr/lib/logicalaccess, set to /usr/lib) my reader seems to be initialized correctly.

Thank you very much.
Regards.

[2015-01-06 14:22] Liryna commented on #73
The Debian package need a fix :(

Glad to help you :)

[2015-01-06 14:24] #73 closed

[2015-01-06 14:25] nimch commented on #73
For windows issue I will open a new ticket if needed later. For now, I close this one. Too late, done...
Thanks for your help.

[2015-01-07 12:51] nimch opened #74 "Wrong exemples in the wiki"
Hello

I think "Read/Write data on the chip" exemple on the wiki is wrong. Indeed, readData/writeData calls are not correct.

Regards.

[2015-01-07 12:56] Liryna commented on #74
Yes indeed ! The exemples are not update with the lastest changed.
Need to find time to do it :(

[2015-01-09 12:55] nimch opened #75 "Link error windows/visual studio 2013"
Hello

I'm trying to build a programme using liblogicalaccess and I can't solve link error.
I have boost 1.57 precompiled installed (lib32-msvc-12.0), openssl 1.0.1j and liblogicalaccess 1.77.1 too.
Compilation is ok but I encounter link error, for exemple : error LNK2019 __declspec(dllimport) public: __thiscall logicalaccess::ReaderConfiguration::ReaderConfiguration(void) in spite of I put lib pa

[2015-01-09 14:12] Liryna commented on #75
Are you sure you have liblogicalaccess.lib as dependency ?

[2015-01-09 14:30] nimch commented on #75
yes

[2015-01-09 15:11] Liryna commented on #75
Did you try the basic:
https://github.com/islog/liblogicalaccess/blob/master/samples/basic/
?

[2015-01-09 15:21] nimch commented on #75
My test programm is more or less the basic but yes I check again : same link error

[2015-01-09 15:30] Liryna commented on #75
I have really no idea :(
I build my windows project exactly like this.
It seems that your Visual Studio is not looking for the symbole inside the liblogicalaccess.
What happen if you remove liblogicalaccess from the path ?

[2015-01-09 15:41] nimch commented on #75
With or without liblogicalaccess.lib path give the same link errors.
If I remove lib boost path I have new errors relative to boost so I can conclude this parameter (include) is read...

[2015-01-09 15:50] nimch commented on #75
Thank you for your help.
Weekend time.
I will investigate next week.
Bye.

[2015-01-09 16:04] Liryna commented on #75
The project use the same architecture as the library in the path ?

[2015-01-12 08:16] nimch commented on #75
hello.

Yes, all win32.

[2015-01-12 08:34] Liryna commented on #75
"With or without liblogicalaccess.lib path give the same link errors."
it mean that Visual Studio is even not using liblogicalaccess.lib.

You should look on this way

[2015-01-19 14:15] Liryna commented on #75
Have you been able to fix the error ?

[2015-01-19 15:13] nimch commented on #75
No...

[2015-02-04 16:07] #75 closed

[2015-02-17 08:00] Maxhy opened #77 "Character set on ASCII field"
On ASCII field of custom format, add a parameter to define the character set (ASCII, UTF-16, UTF-8, ...).
*ASCII* field will become *String* field btw.

[2015-02-17 10:44] Liryna commented on #77
We should template ASCIIDataField with std::string, std::u16string and std::u32string.

[2015-04-23 12:46] Maxhy commented on #77
ASCIIField is now StringField with a character set member used to describe the buffer.

[2015-04-23 12:46] #77 closed

[2015-04-29 07:06] Maxhy commented on #54
Won't be done, this should be handled by the high level application.
If you want this feature please feel free to discuss it here even if it is closed.

[2015-04-29 07:06] #54 closed

[2015-05-24 19:44] Maxhy commented on #5
Also, adding support for NFC Type Mifare Classic Tag
http://www.nxp.com/documents/application_note/AN1305.pdf

[2015-06-14 14:54] Liryna commented on #74
- [x] Documentation moved to github
- [ ] Review content
- [ ] Fix Documentation examples
- [x] Add examples to source repository https://github.com/islog/liblogicalaccess/tree/master/tests
- [ ] Add tests to travis build

[2015-06-15 16:02] xaqq opened #84 "Weird behavior on storage service for desfireev1 in some case"
See https://github.com/islog/liblogicalaccess/blob/develop/tests/pcsc-tests/DESFireEV1/test_storage_service.cpp .

It fails when `writeKeyno = 0` and `readKeyno = 0` with the follow access right for file.

[code]

[2015-06-17 13:36] #74 closed

[2015-06-21 19:46] Maxhy opened #85 "Add Mifare Classic increment / decrement functions"
We should add increment / decrement (and transfer / restore) functions to Mifare Classic commands.
It wasn't done because never requested but we should add it to support the chip correctly.

[2015-06-29 12:22] Maxhy opened #87 "Better Mifare Ultralight, Mifare Ultralight C, NTAGxxx, Topaz detection"
There is no clean way to distinguish Mifare Ultralight, Mifare Ultraligth C, NTAG203, NTAG213, Topaz 512 etc... chips.
We should send specific command to detect it properly (read a page that doesn't exist on other chips, try 3DES authentication command, ...).

[2015-06-29 14:43] Maxhy commented on #85
Done.

[2015-06-29 14:43] #85 closed

[2015-07-01 09:21] Maxhy commented on #2
Basic Sony FeliCa support was implemented with commit https://github.com/islog/liblogicalaccess/commit/56f7e4b1bf59e17f43af56faa51df8c6992a6c43
Supported readers are only SCM / Identive readers for now.
Advanced feature on blocks are not yet supported and must be done manually (authentication, ...). This should be improved.

[2015-07-01 15:53] xaqq opened #88 "Configuration file for mapping hardcoded ATR to card type"
Some card types are detected by (fully) comparing the ATR with an hardcoded value.
It would be beneficial to use a configuration file to define this mapping.

Something similar to this:
[code]

[2015-07-13 22:07] Maxhy commented on #6
This is now done on dedicated LibLogicalAccess reader plug-in with his own git repository (and issue tracker) to avoid libnfc dependency on base. See https://github.com/islog/liblogicalaccess-libnfc

[2015-07-13 22:07] #6 closed

[2015-07-13 22:11] Maxhy commented on #15
Two years later, I see no value do to so. I'm closing it as it will not be implemented, feel free to comment if you think there is an interest for this support.

[2015-07-13 22:11] #15 closed

[2015-07-15 12:25] Maxhy commented on #10
See #88.

[2015-07-15 12:25] #10 closed

[2015-07-15 17:04] xaqq opened #89 "Check Mifare Classic with SCM and Sony reader"
Check that it works properly.

[2015-07-16 06:08] Maxhy commented on #8
Looks like ARM support could be back for Windows 10. Official Microsoft communication is unclear about what it will be and miss technical stuff as usual. But looks like it is part of [Windows IoT](https://dev.windows.com/en-us/iot) (Internet of Things) (click quickly, I believe it will be again renamed on the coming year...).
For example, see [this Visual Studio 2015 C++ Sample for Windows IoT Cor

[2015-07-27 14:50] xaqq commented on #89
Following commits ae2ccc14b6b98f60afe7928c15a22627f8c83b85, 48db010bdf0c49a63884c94ed19e499d226fafa6 and c1e64c05a4cc95d1cc5b70f89df2c288c0495695 the mifare classic now works correctly with those readers.

[2015-07-27 14:50] #89 closed

[2015-07-28 14:35] Ogglas opened #90 "C# example code link is out of date and problem with reading Mifare 1K card. Secondly question about 125 Khz reader/writer."
Hello,

First of all I would like to say I really like your library and the effort you seem to have made in making it. However I can't get it to fully work for me, I'm sure there is something that I have missed. I can connect to my reader and it identifies a Mifare 1K card and I can write to it using your example code. I am using a ACR-122 reader/writer.

In the Wiki section for "DotNet (C#)" it s

[2015-07-28 15:26] Liryna commented on #90
Hello,

You are right! the link for the C# sample has been removed because it was unmaintained. I will also remove all the sentence. Wiki examples should be enough and more easy to keep update.

For Delphi code, we know that we are compatible because of the COM library but unfortunately none of the team are using it so it is  impossible for us to maintain it.

[code]
Looks like you have a c++ segv

[2015-07-29 06:38] Ogglas commented on #90
Thanks for your quick reply! I'm having trouble getting logging to work. I downloaded the library via NuGet and have placed liblogicalaccess.config next to Interop.LibLogicalAccess.Com.dll. Do I need to edit "/usr/lib/logicalaccess" or $current?

[code]

Unfortunately the code examples you supplied does not work.
[code]
Returns byte[0] and if I change sector to 1 like this:
[code]
I get the No key

[2015-07-29 10:01] Liryna commented on #90
liblogicalaccess.config should be placed side to side with liblogicalaccess.dll.
Normally the windows installer put it in the good place.

I found the issue, my example was wrong ReadSector need the keys to be set in the Mifareprofile.
[code]

Second case that made it work for me:
Write:
[code]
Read:
[code]
Write for 125Khz is not planned for now :cry: but If you feel to want to contribute, I woul

[2015-07-30 11:51] Ogglas commented on #90
Thanks Lyrina, I can now read all 16 sectors. Will add the code here if it can help someone else.

[code]

[2015-07-30 13:22] Liryna commented on #90
Example added to the wiki :)
https://github.com/islog/liblogicalaccess/wiki/Use-this-RFID-library-in-DotNet-%28C%23%29#read-all-16-sectors-of-a-mifare

Have you seen some misleading example on this page ?

[2015-08-03 06:53] Ogglas commented on #90
Thank you Liryna!

No the examples you have on the page work, at least for Mifare Classic 1K.

[2015-08-03 06:55] Liryna commented on #90
Great ! I close the issue so :+1:

[2015-08-03 06:55] #90 closed

[2015-09-04 09:11] ZuzooVn opened #91 "liblogicalaccess and motion detection?"
Can liblogicalaccess Detecte Object Motion Using Passive RFID?

[2015-09-04 10:14] Maxhy commented on #91
This is a question a bit too general :smile:.
But passive RFID give generally something like few cm distance, what would be the point of object motion detection on few cm here? Antitheft?
Otherwise liblogicalaccess doesn't have any motion detection behavior nop, never had the requirement and I don't think the technology would be 100% accurate for this use case.

[2015-09-07 07:52] #91 closed

[2015-09-11 09:26] Liryna opened #92 "SAMKeyStorage Dump Key option"
Since NXP SAM have a diversification issue (AV2) during ISOAuthentication:
Add possibility to dump key of the SAM when SAMKeyStorage is used.
Like that we will do the diversification ourself.

[2015-09-24 15:55] xaqq commented on #1
The code has been updated, and some part have been re-implemented.
However the support is limited to Security Level 0 (card configuration) and Security Level 1 (Mifare Classic backward compatible mode).

AES Auth SL1 is mostly ok.
However, security level switching doesn't work very well: it works ok with a SpringCard reader on Windows.

Support for SL2 and SL3 is not present. In SL3, only Authenti

[2015-10-09 03:12] clarklight opened #93 "Quick question about Desfire Ev2"
I saw a page that says "The chip Mifare DESFire EV2 is not released yet by NXP", and that was edited in June 2015, but the first document about releasing EV2 was in 2013...i am just wondering it is officially out and can be purchased on the market??

[2015-10-09 05:51] Liryna commented on #93
It is not officially out for now :( We are still waiting

[2015-10-09 06:17] clarklight commented on #93
Thanks.... yer it just seems like its been a while...i got a quick question not sure if you have any experience on it.... with NTAG 21x family, their password protected area, do you think its secure? I read on their documents and some opinion that it is pretty weak.

I am just trying to figure out for "Anti-cloning" mechanism if NTAG 21x or Desfire would be better.

[2015-10-09 07:14] Liryna commented on #93
Well NTAG 21x are not made for security. If someone want to clone it and with a little experience, he can do it.
But as always, it depend of the security you need.

[2015-10-09 07:20] clarklight commented on #93
Em.... yer, thats what i was thinking.... i just dont want any card to be cloned. Was planning to have a password protected area that has an account ID hidden within it. and Only when password has been entered correctly then it can be read.

So i guess i will have to go with the Desfire EV1 for now. Thanks for the reply!

[2015-10-09 07:45] Liryna commented on #93
No problem :) If you need any other help, feel free to ask !

[2015-10-09 07:45] #93 closed

[2015-10-10 08:29] clarklight opened #94 "NXP Ultralight EV1 security same as NTAG 21x 32bytes password? Or Desfire 3DES?"
I got a quick question regarding the security for Ultralight EV1, just wondering if you can help me out on it.

I read the Ultralight has a 32byte password protection, wondering if thats the same as the NTAG21x password layer, or if thats same security level as the Desfire(3DES/AES)etc?

My use case is that i dont need much memory space just 200-300 bytes or so, but i need higher level of security

[2015-10-10 19:01] Liryna commented on #94
Yes, it seems that Ultralight EV1 authentication is the same logic as NTAG21x.
The authentication by password is not secure because it is transmit without protection.
This card have no mechanism of secure session & channel.

It mean that someone listen your communication can get your password, the data that you read and even can send commands if he want.

DESFireEV1 has this mechanism.

[2015-10-12 03:35] clarklight commented on #94
Sweet, thanks for the reply!!

[2015-10-12 06:13] #94 closed

[2015-10-17 16:34] AndrewLeiper opened #95 "liblogicalaccess.com.dll failed to register"
Hi there,

I'm unable to install liblogicalaccess-exe-1.79.0.

The install program gives the message "...liblogicalaccess.com.dll failed to register HRESULT -214024770".
This happens on Windows 7 and Windows 10.

Do you have any ideas on what may be wrong ?

Andy Leiper

[2015-10-17 17:01] Maxhy commented on #95
Indeed, the correct release file is http://artifacts.islog.com/repository/rfid-releases/eu/islog/lib/readers/liblogicalaccess-exe/1.79.1/liblogicalaccess-exe-1.79.1.zip
I will update the release link, thanks!

[2015-10-17 17:01] #95 closed

[2015-10-21 18:15] AndrewLeiper opened #96 ""not enough storage" exception if no reader driver"
Hi there,

I'm using liblogicalaccess-exe-1.79.1 from delphi.

If no reader driver is installed, the following line generates an EOleSysError exception with the message "not enough storage is available to complete this operation".

readerProvider := CoPCSCReaderProvider.Create;

After I install the omnikey driver, it works fine and in fact it continues to work fine even if I uninstall the driver a

[2015-10-21 18:45] Liryna commented on #96
Hi @AndrewLeiper ,

You are right, the driver does enable some PCSC functionality in windows.
I would guess that he enabled the pcsc service. On some windows, this service is disabled by default.
So the PCSC initialisation calls does not work and we throw "not enough storage is available to complete this operation".

[2015-10-22 09:29] AndrewLeiper commented on #96
Hi Liryna,

Thanks. You are absolutely right. If I stop the smartcard service, that causes the same error.

Andy Leiper

[2015-10-22 09:31] Liryna commented on #96
Great :+1: that it helped you !

[2015-10-22 09:31] #96 closed

[2015-10-23 16:41] xaqq opened #97 "Desfire Ev1 create file followed by delete file causes "Wrong CMAC""
Calling `cmdev1->createStdDataFile(0x04, logicalaccess::EncryptionMode::CM_ENCRYPT, ar, file_size, 0)` followed by `cmdev1->deleteFile(0x04)` causes Logicalaccess to throw "Wrong CMAC".

However, both operation complete successfully despite the exception being thrown.

A workaround is to call  `authenticate(0, key)` between those 2 calls.

[2015-11-02 15:57] xaqq commented on #97
Same problem happens when trying to change a key after creating a file: `cmd->changeKey(0, new_key);`

However, creating two files seems to work fine.

[2015-11-10 15:33] EniacMlezi opened #98 "COMException: Wrong Instruction"
Hey everybody,

I'm getting COMException was unhandled error. I've tried every possible option to either read or write, but the error returns every time. I'm using SCL3711 reader and try to read a mifare 1k card.
![error](https://cloud.githubusercontent.com/assets/15785664/11066498/c5a050c6-87c8-11e5-9c1c-c3613d0cd5dd.PNG)

Really don't know what to do...

[2015-11-10 15:36] Liryna commented on #98
Hi,

Could provide some logs about the crash ?
https://github.com/islog/liblogicalaccess/wiki/Frequent-issues-and-questions#how-to-activate-some-traces

[2015-11-10 15:50] EniacMlezi commented on #98
Thanks for the fast response!

https://onedrive.live.com/redir?resid=A38BBFADE71C597D!1201&authkey=!AB7TfEez4vcBnGs&ithint=folder%2c

here's a link to an activityLog and error discription

[2015-11-10 15:59] Liryna commented on #98
I wanted to logicalaccess.log but the exception message seems to be enouth :smile:

You have the error: PCSC error: 80100069. The smart card has been removed, so further communication is not possible.

Are you sure the card does not move or something like ?
I don't think it is a liblogicalaccess issue. the error come from pcsc directly :( he tell us that he lost the communication with the contactl

[2015-11-10 16:06] EniacMlezi commented on #98
Saw it just now.. it's kinda sad, because i'm definitely not moving the card. I may be able to borrow a reader from a teacher. If that reader is compatible, could it possibly fix the problem? And what about testing it on cpp instead?

[2015-11-10 16:10] Liryna commented on #98
I just made the test again with our software and the SCL3711 reader work perfectly.
Are you using a NFCReaderUnit ?
and Zadigt to use the libUSB0 v1.2.6.0 driver http://zadig.akeo.ie/ ?

[2015-11-10 16:25] EniacMlezi commented on #98
No, I was using IReaderUnit.
Just installed zadig and tried using NFCReaderUnit, i'm now getting this error:

![error](https://cloud.githubusercontent.com/assets/15785664/11068035/cd5cee1c-87cf-11e5-804f-a32075595b8f.PNG)
![nfcreaderunit](https://cloud.githubusercontent.com/assets/15785664/11068037/cf9357b6-87cf-11e5-8dca-d4c17b29f6c4.PNG)

full program and error discription:
https://onedrive.live

[2015-11-10 16:40] Liryna commented on #98
Could you try with readcard: http://www.islog.com/en/software/readcard/
If it does not work, it mean there is an issue with the driver.
Otherwise it is with the code.

[2015-11-10 17:04] EniacMlezi commented on #98
readcard succeeds,
![readcard](https://cloud.githubusercontent.com/assets/15785664/11069168/0867e57a-87d5-11e5-8b2f-7ec3391ca09f.PNG)

I cracked the keys for sector 10-14 with mfoc. It was really unstable and often lost connection as well. After i ran pcscd -f (linux, sort of daemon tool for pcsc) i managed to keep a connection open for long enough to crack it. This may be a similar problem?

[2015-11-10 18:05] Liryna commented on #98
Possible but our reader work perfectly :( I do not know what is the difference

[2015-11-10 18:06] xaqq commented on #98
Hello,

It seems the SCL3711 can be used either as a PCSC reader (through
liblogicalaccess' PCSC Provider) or as
a NFC reader using the liblogicalaccess' NFC provider.
To use it with the NFC Provider you need to use the libusb driver.
Otherwise it defaults to behave like a PCSC Reader.

So, I guess we're back to square one. When using a PCSC Provider you
somehow lose connectivity with the smart ca

[2015-11-10 18:11] EniacMlezi commented on #98
nope, no problems with readcard at all.. i'm not that big a c++ programmer but I'll take a look at it tonight.

Have you already tested my application to verify it's not in my code?
https://onedrive.live.com/redir?resid=A38BBFADE71C597D!1204&authkey=!AItKhtfYibmOKq0&ithint=folder%2c

[2015-11-10 18:21] Liryna commented on #98
No longer at work :cry:

[2015-11-10 18:22] EniacMlezi commented on #98
naah no problem, i've got 10 more weeks to deliver this school project.

[2015-11-10 19:36] EniacMlezi commented on #98
SO i'm currently stuck on simply including logicalaccess in cpp, i'm really not familiar... Do any of you have a solution lying around?

[2015-11-10 19:53] Liryna commented on #98
@EniacMlezi You should start from the basic. Look at the command of Travis if you have issue to build it.

[2015-11-11 10:46] AndrewLeiper opened #99 "Unable to change 2nd key in desfire application"
Hi there,

I'm using V1.80 via the com dll in delphi and an Omnikey 5321.

I have created an application on a DESfire EV1 card with 2 keys (KS_DEFAULT).
I can successfully authenticate both keys.
I can change key 0 on both the PICC master and the application.

But if I select the application, authenticate with key 0, and then try to change key 1, I get an exception:
'CRC or MAC does not match data

[2015-11-11 16:17] Liryna commented on #99
Hi,

Can you try again with one of the KS_CHANGE_* flags  in addition to KS_DEFAULT ?

[2015-11-11 18:32] AndrewLeiper commented on #99
Hi,

To be a bit clearer:
1) Create Application with 2 keys (KS_DEFAULT) - OK
2) Authenticate App with key 0  (00 00 00 00 00 ...) - OK
3) Change key 0 to "20 00 00 00 ..." - OK
4) Authenticate App with key 0  (20 00 00 00 00 ...) - OK
5) Change key 1 to "30 00 00 00 ..." - OK
6) Authenticate App with key 1  (30 00 00 00 00 ...) - OK
...Now try to change key 1 a second time...
7) Authenticate App

[2015-11-11 19:56] EniacMlezi commented on #98
Heey,
still no progress on the c# lib. I've (finally) succesfully built the logicalaccess library, which was a real pain in the ass since I haven't done anything like it before... I tried compiling some code but got these errormessages:
-------------- Build: Debug in RFID_test (compiler: GNU GCC Compiler)---------------

g++ -Wall -fexceptions -g -std=c++11  -c /home/lars/CodeBlocks/RFID_test/main

[2015-11-11 19:57] EniacMlezi commented on #98
https://onedrive.live.com/redir?resid=A38BBFADE71C597D!1205&authkey=!AJGFUCgstuvD4gw&ithint=file%2c

here's a link to the file

[2015-11-11 20:03] Liryna commented on #98
Add `-DUNIX` to your command line

[2015-11-11 20:43] EniacMlezi commented on #98
greaat thanks! I now only get some link errors; "undefined reference to: ". I include files from /usr/local/logicalaccess

[2015-11-12 09:27] xaqq commented on #99
May be related to #97

[2015-11-12 10:20] Liryna commented on #99
@AndrewLeiper , can you try with `KS_DEFAULT | KS_CHANGE_KEY_WITH_MK | KS_FREE_LISTING_WITHOUT_MK | KS_CONFIGURATION_CHANGEABLE | KS_CHANGE_KEY_WITH_MK` (it is what I use)

[2015-11-12 10:50] AndrewLeiper commented on #99
@Liryna
That is the same thing as KS_DEFAULT (0x0B). You put KS_CHANGE_KEY_WITH_MK twice. Did you mean to put one of the other options ?

@xaqq
Regarding #97. The workaround for that was to authenticate with key 0 just before the changekey which is what I am doing.

Thanks for the suggestions,

Andy Leiper

[2015-11-12 11:17] Liryna commented on #99
Sorry I wanted to say `KS_DEFAULT | KS_CHANGE_KEY_WITH_MK | KS_FREE_LISTING_WITHOUT_MK | KS_CONFIGURATION_CHANGEABLE | KS_ALLOW_CHANGE_MK`.

But from what you say, I think @xaqq is right.

[2015-11-12 12:36] AndrewLeiper commented on #99
@Liryna
Thanks for the update. Those options are the same as KS_DEFAULT though.

@xaqq
#97 suggests that the operation completes despite the error message. In this case though, I just double checked and the key does not get changed.

Thanks,

Andy.

[2015-11-12 14:08] Liryna commented on #98
Yes you have to link with logicalaccess and all module that you are using like:
-L/usr/local/logicalaccess -llogicalaccess -ldesfirecards  ....

[2015-11-12 15:25] EniacMlezi commented on #98
man this c++ stuff is complicated.. haha. Still haven't been able to run a single binary.. when trying to install the library via 'sudo apt-get install liblogicallaccess' i get libboost-date-time dependency error. And when i try to install boost via apt-get it gives even more dependeny errors... it's really driving me mad by now hehe.

I' ve tried to build them both manually, but i'm not too sure

[2015-11-12 15:30] Liryna commented on #98
Ok ok :smile:
Lets start from a clean base.
[code]

Tell me when all of this work.

[2015-11-12 15:47] EniacMlezi commented on #98
Haha a clean base, currently installing a new VM

[2015-11-12 16:13] EniacMlezi commented on #98
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package libboost-chrono1.55-dev is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

Package libboost-date-time1.55-dev is not available, but is referred to by another package.
This may mean that the pa

[2015-11-12 16:19] Liryna commented on #98
You have probably a newer version of boost than 1.55. Try:

`apt-get install libboost-dev libboost-system-dev libboost-filesystem-dev libboost-date-time-dev libboost-chrono-dev libboost-thread-dev libboost-regex-dev`

[2015-11-12 17:32] EniacMlezi commented on #98
okay got it, all packages installed; boost 1.58 and the lib is built. Do you recommend installing an Ide like eclipse, or should i just use a text editor?

[2015-11-12 17:40] Liryna commented on #98
As you want for this part :) but you will use command line to build so eclipse is only going to be here to edit files.
This command line: `mkdir build && pushd build && cmake -DCMAKE_INSTALL_PREFIX=$PWD/install .. && make install && popd && cd samples/basic/ && mkdir build && pushd build && cmake -DLibLogicalAccess_DIR=$PWD/../../../build/install/lib/cmake/liblogicalaccess .. && make`
build two ma

[2015-11-12 17:42] xaqq commented on #98
The IDE doesn't matter much, it's a matter of personal preference. Use what
you're confortable with.

Note that the library uses C++11 so if the IDE doesn't support it properly
this may be annoying (or confusing, especially if you're new to C++).

On Thu, Nov 12, 2015 at 6:32 PM, Eniac Mlezi <notifications@github.com>
wrote:

--
Kapp Arnaud - Xaqq

[2015-11-12 17:47] EniacMlezi commented on #98
@xaqq yeah saw it, found a fix for eclipse. But i'll just use a text editor then :+1:

[2015-11-12 18:02] EniacMlezi commented on #98
@Liryna what exactly do you mean by 'copy all library' ?

[2015-11-12 18:06] Liryna commented on #98
in $PWD/install/lib you have the dynamic library (.so) that need to be near the basic.

[2015-11-12 18:54] EniacMlezi commented on #98
I can finally run c++ code :) next problem: the reader is not detected on the ubuntu vm, already installed libusb and tried libnfc but no result

[2015-11-12 19:39] Liryna commented on #98
Great :trophy: !
Did you install the drivers (I never did in linux so I will not be able to help you for this part)

[2015-11-12 19:48] xaqq commented on #98
IIRC you don't need any driver in particular.
What's the output of `lsusb`?

Maybe you simply forgot to configure USB passthrough for the reader
(telling your hypervisor to give control to the USB device to the VM).

On Thu, Nov 12, 2015 at 8:39 PM, Liryna <notifications@github.com> wrote:

--
Kapp Arnaud - Xaqq

[2015-11-12 20:31] EniacMlezi commented on #98
well i'm using virtualbox to run ubuntu, and you were right; virtualbox doesn't passthrough any higher version than usb 1.1 without some extensions. But after installing them there's still no change.

lsusb returns this:
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 Device 002: ID 80ee:0021 VirtualBox USB Tablet
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hu

[2015-11-12 20:35] EniacMlezi commented on #98
Ow, found something. in virtualbox one also needs to specify the usb device to be passed:
[link](https://www.howtoforge.com/virtualbox-2-how-to-pass-through-usb-devices-to-guests-on-an-ubuntu-8.10-host)

[2015-11-13 09:11] EniacMlezi commented on #98
goodmorning! last night i got the reader working on ubuntu. I ran into some problems with automatically loaded modules -> [fix](http://forums.nfc-tools.org/topic/668/solved-scl3711-interface-0-claimed-by-pn533-nfclist-sets-conf/)

Now when i run the basic example it only says:
Available reafer plug-ins (0):
Available card plug-ins (0):

and then it terminates...

With some ghetto debugging(no idea

[2015-11-13 09:18] EniacMlezi commented on #98
Neither are DEBUG1 and DEBUG2 by the way, it just seems to terminate before or after that loop

[2015-11-13 09:21] Liryna commented on #98
When you have:
[code]

It mean that it have not found the library like pcscreaders.so, desfirecards.so...
Did you copy well all .so in the same folder as the basic with the liblogicalaccess.config ?

The config file is a xml where you can specify the PluginFolders ( where you have the .so).

[2015-11-13 09:35] EniacMlezi commented on #98
just copied the full contents of liblogicalaccess/build/install/lib to sampes/basic/build(thought only liblogicalaccess.so and .config mattered, i know bit stubborn), now it gives 15 reader plug-ins, 53 card plug-ins and "no readers on this system". Libnfc can detect the reader, so that's not the problem

[2015-11-13 09:39] Liryna commented on #98
Ok great !
So the reader is seen as nfc and not pcsc on linux.

You have to build the NFC plugin here: https://github.com/islog/liblogicalaccess-libnfc
clone it and try: `mkdir build && pushd build && cmake -DCMAKE_INSTALL_PREFIX=$PWD/install .. && make install`

Copy the new .so build, in this repository, with your basic also.
Change "PCSC" in your code by "NFC".

[2015-11-13 11:02] EniacMlezi commented on #98
building it his way i get
fatal error: logicalaccess/readerproviders/readerunitconfiguration.hpp: no such file or directory

i am trying to build it from my home dir, and i've previously built liblogicalaccess in my home dir as well. in order for the libnfc-plugin compilation to find these missing files, should i define some sort of path to the full liblogicalaccess in the cmake command or built i

[2015-11-13 11:05] Liryna commented on #98
Yes sorry I forgot: You have to set LIBLOGICALACCESS_INCLUDE_DIR & LIBLOGICALACCESS_PLUGINS_DIR
Something like:
`mkdir build && pushd build
cmake -DCMAKE_INSTALL_PREFIX=$PWD/install -DLIBLOGICALACCESS_INCLUDE_DIR=/home/user/liblogicalaccess/include -DLIBLOGICALACCESS_PLUGINS_DIR=/home/user/liblogicalaccess/build/install/lib  .. && make install`

[2015-11-13 11:23] EniacMlezi commented on #98
it now gets past the previous fatal error, but there's a new one, this time it can't find:

readercardadapters/iso7816readercardadapter.hpp

[2015-11-13 11:40] Liryna commented on #98
it is when you build the liblogicalaccess-libnfc ?
Can you give the full error output

[2015-11-13 11:45] EniacMlezi commented on #98
~/liblogicalaccess-libnfc/build$ cmake -DCMAKE_INSTALL_PREFIX=$PWD/install -DLIBLOGICALACCESS_INCLUDE_DIR=/home/lars/liblogicalaccess/include -DLOGICALACCESS_PLUGINS_DIR=/home/lars/liblogicalaccess/build/install/lib .. && make install
-- Try C++11 flag = [-std=c++11]
-- Performing Test CXX11_FLAG_DETECTED
-- Performing Test CXX11_FLAG_DETECTED - Success
-- Boost version: 1.58.0
-- Found the follow

[2015-11-13 11:50] Liryna commented on #98
Do you have this file ?
/home/lars/liblogicalaccess/include//logicalaccess/plugins/cards/iso7816/readercardadapters/iso7816readercardadapter.hpp

[2015-11-13 11:56] EniacMlezi commented on #98
no, i do have it in
/home/lars/liblogicalaccess/plugins/pluginsreaderproviders/iso7816/readercardadapters.hpp

[2015-11-13 11:58] Liryna commented on #98
oh, thats not normal O_o.
Copy it in /home/lars/liblogicalaccess/include//logicalaccess/plugins/cards/iso7816/readercardadapters

[2015-11-13 12:07] EniacMlezi commented on #98
after /home/lars/liblogicalaccess/include//logicalaccess/ i don't even have a plugins folder...

in the liblogicalaccess/build/plugins folder there is an sio7816 directory that contains libiso7816readers.so, and i believe its headers are located in liblogicalaccess/build/install/include/logicalaccess/plugins/readers/iso7816/readercardadapters.hpp

maybe we're using the wrong headerfiles? -DLIBLOGI

[2015-11-13 12:09] Liryna commented on #98
Ahhhhhhhhhh sorry I have not seen ><.
Yes change it to /home/lars/liblogicalaccess/build/install/include

[2015-11-13 12:16] EniacMlezi commented on #98
yeah just realised myself haha, next:
/usr/bin/ld cannot find -*list of cards -> ldesfirecards, lmifarecards, etc* and -liso7816readers -llogicalaccess

That's probably the linking issue as described a few messages above. I should do it like this for every single one:
-L/usr/local/logicalaccess -llogicalaccess -ldesfirecards ...
right?

Shouldn't this have happened automatically when liblogicalacc

[2015-11-13 12:19] Liryna commented on #98
Normally he should find it in the folder you specified:
-DLOGICALACCESS_PLUGINS_DIR=/home/lars/liblogicalaccess/build/install/lib

[2015-11-13 12:22] EniacMlezi commented on #98
it gives an error for -ldesfirecards, but /build/install/lib contains files like libdesfirecards. I recon there might be a slight problem here...

[2015-11-13 12:24] EniacMlezi commented on #98
shouldn't -DLOGICALACCESS_PLUGINS_DIR be -DLIBLOGICALACCESS_PLUGINS_DIR

[2015-11-13 12:25] Liryna commented on #98
Yes, you have copy paste it wrongly :p

[2015-11-13 12:28] EniacMlezi commented on #98
changed it, now it says :

<pre><code>
cmake -DCMAKE_INSTALL_PREFIX=$PWD/install -DLIBLOGICALACCESS_INCLUDE_DIR=/home/lars/liblogicalaccess/build/install/include -DLIBLOGICALACCESS_PLUGINS_DIR=/home/lars/liblogicalaccess/build/install/lib .. && make install
-- Try C++11 flag = [-std=c++11]
-- Performing Test CXX11_FLAG_DETECTED
-- Performing Test CXX11_FLAG_DETECTED - Success
-- Boost version: 1.5

[2015-11-13 12:31] Liryna commented on #98
Comment this line:
https://github.com/islog/liblogicalaccess-libnfc/blob/master/CMakeLists.txt#L93

[2015-11-13 12:56] EniacMlezi commented on #98
Okay great! it's finally built, the reader is detected and card insertion works, werk back at the beginning haha. i've only got some more errors on the reader being occupied by pn553 when a card is removed, but let's just blame it on the vm for now... I'll post if i can actually read from a card(the reason for this thread in the first place, if you can remember haha) this afternoon.

Anyways, than

[2015-11-13 13:04] Liryna commented on #98
a pleasure :+1: Feel free to recommend the library at your school :yum:

[2015-11-13 13:04] #98 closed

[2015-11-13 14:29] EniacMlezi commented on #98
CMakeFiles/basic.dir/basic.cpp.o: In function `main':
basic.cpp:(.text+0xa91): undefined reference to `logicalaccess::MifareLocation::MifareLocation()'
CMakeFiles/basic.dir/basic.cpp.o: In function `std::shared_ptr<logicalaccess::MifareCommands> std::dynamic_pointer_cast<logicalaccess::MifareCommands, logicalaccess::Commands>(std::shared_ptr<logicalaccess::Commands> const&)':
basic.cpp:(.text._ZSt

[2015-11-13 14:31] EniacMlezi commented on #98
a lot of undefined references, do i miss an include or something? Or should i create another link?

[2015-11-13 14:45] xaqq commented on #98
Undefined reference are linkage problems, not missing include.
You probably need to link with `-lmifarecards`.

[2015-11-13 14:59] EniacMlezi commented on #98
I get hard link not allowed for directory, how exactly woul i create this link?

[2015-11-13 15:19] Liryna commented on #98
Add mifarecards  after basic here:
https://github.com/islog/liblogicalaccess/blob/master/samples/basic/CMakeLists.txt#L17

[2015-11-13 15:48] EniacMlezi commented on #98
i think that's all i needed to know for now, i can finally read and write!
Thanks again, and i'll be sure to recommend the lib, my teachers will probably be interested as well :+1:

If you're still interested in the c# wrapper problem just tell me and i'll be of service by providing logs etc.
Have a nice day and you'll hear if i stumble across other problems ;)

[2015-11-17 09:32] xaqq opened #100 "Changing UID of Magic Mifare Ultralight"
It is possible to change the UID of a "magic" mifare ultralight.

It works with the ACR122U and Prox'n'roll. Probably with other PCSC reader too. It does not work with Omnikey5321 however.

Since we can also change the UID of magic mifare classic (using NFC reader), creating  a new UIDChanger service would make sense.

[2015-12-04 14:30] xaqq commented on #88
ATR Parsing moved to own class. Will be easier to eventually do that now.
See https://github.com/islog/liblogicalaccess/commit/8734b16f63c0371d389b02454ceb9be682635b7f

[2015-12-08 13:56] xaqq opened #101 "Distinction between Mifare4K and Mifare Plus 4K"
MifarePlus detection is based mostly on hard-coded ATR. It turns out that one of these ATR (3B8F8001804F0CA0000003060300020000000069) conflict with the ATR for Mifare4K card.

We disable the mapping between 3B8F8001804F0CA0000003060300020000000069 and MifarePlus.
The corresponding code is in `atrparser.cpp`.

Reader used for test: OK5321.

[2015-12-09 09:20] xaqq commented on #100
A new service has been added (UIDChangerService).
The implementation for MifareUltralight lives in liblogicalaccess-libnfc.

See https://github.com/islog/liblogicalaccess-libnfc/commit/6e90dbbf7eda77dd2a3a10ef7e92b0112da884df

[2015-12-09 09:20] #100 closed

[2016-01-28 18:19] xaqq opened #102 "DESFire Crypto not properly set after call to authenticate()"
After a call to `DESFireCommand::authenticate()` (as opposed to a call to `iso_authenticate()`) the `d_crypto->d_cipher` object is null.

This cause retrieving the real card UID to segfault because it need a working DESFireCrypto object.

[2016-04-29 19:34] SoftWorksCEO opened #103 "Mifare 1K how to add and read values to card"
Dear community,

I just got my first RFID / NFC-reader and writer and was able to retrieve informations like the name of the reader, the card type (Mifare 1K in my case) as well as the UID of the found card in C# on the .NET.platform.

For my scenario I just would like to write a name as well as a GUID to the card - but I've spent an entire day now trying to find something in the docs - but to no

[2016-04-29 19:41] Liryna commented on #103
Hi @SoftWorksCEO ,

Have you seen the Mifare read exemple ?
https://github.com/islog/liblogicalaccess/wiki/Use-this-RFID-library-in-DotNet-%28C%23%29#read-all-16-sectors-of-a-mifare

You can use WriteBinary for writing your string in byte[].

[2016-04-29 19:48] SoftWorksCEO commented on #103
Hey Liryna,

yes, I saw that but since that is for DESFire which I don't have (MIfare 1K Classic - I would guess), that doesn't help me.

I am completely new to that topic - so could you hand me some code for that? I could immediately try it.

Best regards,
Marco

[2016-04-29 19:51] SoftWorksCEO commented on #103
In the sample, you provide, the compiler says: "location must be a MifareLocation."

This is why I can't use it :-(

[2016-04-29 19:54] Liryna commented on #103
This part of the page is for MIfare 1K Classic

[code]

For writing, you will need to load the MifareKeyType.KT_KEY_B and call `cmd.WriteBinary(...`.

I don't have my dev environement for now, so I cannot give more code :(

[2016-04-29 20:05] SoftWorksCEO commented on #103
When trying only the above without the write-part, the compiler says "Operation failed, no precise diagnosis". I guess it would be best to have some executable code since there isn't anything in the docs regarding this topic. So I would have to do guesswork :-(.

I would be happy if you got your dev environment back and I would hear from you, soon.

Greetz,
Marco

[2016-04-30 09:09] Liryna commented on #103
Hi @SoftWorksCEO ,

Executable code / software examples (c++/C#/Delphi/Qt) are part of the Starter Kit. http://liblogicalaccess.islog.com/

Normally the code I gave you should already worked but I will come back to you Monday after making some test.

Which function create a "Operation failed, no precise diagnosis" ? This is usually an error returned by the card (wrong authentication key and such..

[2016-04-30 09:45] SoftWorksCEO commented on #103
Hey Liryna,

it is obvious that I got the error because I didn't set up the authentication or whatever else correctly. This is because I have no starting point and would simply need a sample of how to achieve that on a Mifare 1K card.

I would totally appreciate a sample from you (write and read a particular string) including the setup so I can reproduce it on my hardware (I have the ACR122 reader

[2016-05-03 13:15] Liryna commented on #103
Hey,
I made the test and it worked on my side with the code exemple I gave you.

There is also another discussion where this exemple come from (you can see it come from another user):
https://github.com/islog/liblogicalaccess/issues/90#issuecomment-126288006

Could you share the part of the source code where you use the liblogicalaccess ?

[2016-05-03 13:45] SoftWorksCEO commented on #103
Hey,

could you please refer to what I wrote 3 days ago? My problem is not that the code snippet didn't work (since it does when using the sample here from GitHub).

My problem that I can't use liblogicalaccess when I have no documentation - and thus, I would need a sample for writing and reading strings as well has how to format a card using liblogicalaccess in case something went wrong and I nee

[2016-05-04 13:17] Liryna commented on #103
Hello @SoftWorksCEO ,

Yes, It is possible to request samples binary/code without material from the Starter Kit by contacting the sail departement with contact@islog.com

Best regards,

[2016-05-04 13:17] #103 closed

[2016-05-09 13:01] #102 closed

[2016-05-11 09:51] Maxhy opened #104 "Add Windows.Devices.SmartCardReader reader support"
Some of latest Windows tablets (and phone) embed a NFC chip. Those are mainly unsupported today on LibLogicalAccess if the manufacturer doesn't provide PC/SC driver, and current trend from NFC chip manufacturer is to provide a NFC Proximity Provider Driver only.

Our ability today and later to use this chip depends highly of the chip model:
 * **NXP PN53x**: supported through [liblogicalaccess-lib

[2016-05-11 12:01] #18 closed

[2016-05-30 12:30] FranjoMlakar opened #105 "c# DumpSecretKey Exceptions"
Hi,

I'm using your library "liblogicalaccess (1.82.0.0)" with my C# application and I have a small problem. I would like to call the function DumpSecretKey(byte KeyNo, byteKeyVersion, object divInput);

EXAMPLE 1: My code (C#) looks like this:
[code]
After executing I get an exception: "AccessViolationException".

EXAMPLE2:
[code]
After executing I get an exception:
System.Runtime.InteropServices

[2016-05-31 08:52] FranjoMlakar opened #106 "c# AuthentificateHost"
Is there a way to specify the HostMode like in c++ function?

c# function:
AuthentificateHost(keyNo, KEY)

c++ function
AuthentificateHost(KEY, keyNo, HostMode)

[2016-05-31 13:51] FranjoMlakar commented on #105
Just one more thing:

If i call this function "DumpSecretKey" from c++ code everything is OK and i get the desired output.
[code]
C# COM Wrapper:
` cmd.DumpSecretKey(0x02, 0x33, divInput);`
Throws Exception: {"External component has thrown an exception."}

So is it possible that something's wrong with the C# wrapper(COM)?

[2016-05-31 14:21] Maxhy commented on #106
I'm not sure what you are talking about, C++ function doesn't have HostMode parameter neither. Could you details with github line code link?
Btw there is a typo here, function should be renamed to AuthenticatHost on a further release.

[2016-05-31 14:52] FranjoMlakar commented on #106
Sorry, my bad. It seems i have some altered source code. In my case there is a function
`void SAMAV2ISO7816Commands::authentificateHost(std::shared_ptr<DESFireKey> key, unsigned char keyno, HostMode ihostmode)`

[2016-05-31 14:53] #106 closed

[2016-05-31 14:54] Maxhy commented on #106
Ok good to know.
I believe you are doing right, but don't forget to respect [LGPL license](https://github.com/islog/liblogicalaccess/blob/master/LICENSE.LGPL.txt) about source code modification, program publication and referenced libraries on your program copyright notice. Thanks.

[2016-05-31 14:59] Maxhy commented on #105
Looks like a bug on COM wrapper (byte[] should be used as input buffer parameter), I will give additional testing for 1.83.0.
We are moving slowly to SWIG with https://github.com/islog/liblogicalaccess-swig project but it is taking some time (any help appreciated btw), so for now you are stuck with this closed source COM wrapper and it is something we have to fix on our side for next release.

[2016-05-31 15:00] FranjoMlakar commented on #106
Don't worry. I'm just trying to learn how all this things are working. Will respect the LGPL license. Thanks for your answer.
best regards,

[2016-06-07 12:46] Maxhy commented on #87
Done.

[2016-06-07 12:46] #87 closed

[2016-06-08 09:33] Maxhy commented on #68
Profile logic should be completely removed from liblogicalaccess and handled on high level applications.

[2016-06-09 11:43] Maxhy commented on #2
SpringCard PC/SC readers added for FeliCa support.
Tested for NFC Tag Type 3 use.

Other specific block features will not be implemented for now. Please create a new issue if you need it.

[2016-06-09 11:43] #2 closed

[2016-06-09 11:49] Maxhy commented on #5
NFC Tag Type 1, 2, 3 and Mifare Classic compatibility added.
Multiple NDEF messages, chunked records and lock features will not be supported unless on specific request.

[2016-06-09 11:49] #5 closed

[2016-06-11 13:51] Maxhy commented on #88
ATR parsing class was cleaned on latest commits. Current ATR parsing logic is now acceptable and configuration file is not a requirement anymore (to the flexibility argument: a new LLA version will still be required anyway to provide the auto-detection by default, and it's already possible to force a card type so this config file will only have little benefits).

[2016-06-11 13:51] #88 closed

[2016-06-11 13:54] Maxhy commented on #68
Profile logic was removed with 6ce073684b12f56af3a716d31c8cac8d7c45e931.

[2016-06-11 13:54] #68 closed

[2016-06-11 13:56] Maxhy commented on #64
Location nodes now have getCanRead() and getCanWrite() methods.
Mifare chip now populate blocks location nodes under sectors location nodes.

I believe this should be enough to match this requirement.

[2016-06-11 13:56] #64 closed

[2016-06-11 15:19] Maxhy commented on #97
Fixed with ba19be5b419365fce125faa92a9a6192787d67d2.

[2016-06-11 15:19] #97 closed

[2016-06-11 15:44] Maxhy commented on #99
@AndrewLeiper I took the time to test your issue but I cannot reproduce it.
Could you copy/past code snippet you're using? Thanks.

[2016-06-13 08:31] AndrewLeiper commented on #99
@Maxhy
I don't have the hardware with me at the moment. I'll try and get you simplified test code later this week.
Thanks

[2016-06-14 16:11] AndrewLeiper commented on #99
@Maxhy
Here's the code (in Delphi) calling the V1.80.0.1106 com DLL. If you would like my test program as an EXE, please let me know. Hope it helps.

Andy.

procedure TForm1.GetDESFireCommands;
var
  cmd: ICommands;
begin
  Log('');
  FIDESFireEv1Cmd := nil;
  FIDESFireCmd := nil;

  Log('GetDESFireCommands');
  if Supports(FIChip, IID_IDESFireChip) then
  begin
    Log('Is IDESFireChip');
    cmd

[2016-06-16 13:37] Maxhy commented on #99
Indeed I can reproduce your issue when using DES encryption.
I wasn't able to fix it for now. C++ sample to reproduce it:
[code]

[2016-06-16 16:23] AndrewLeiper commented on #99
@Maxhy
Excellent. Thanks, Maxime.

[2016-06-29 10:38] yhAm0729 commented on #103
Hi @Liryna

Is this thread is still active. I just want to know what happened to my Mifare 1K Card. I am encountering the error message "Operation failed, no precise diagnosis". What happened is is used the writing procedure that I found in this link [https://github.com/islog/liblogicalaccess/wiki/Use-this-RFID-library-in-DotNet-(C%23)](url) in "Encode Wiegand 37 on Mifare Classic card" part. Afte

[2016-06-30 06:15] Maxhy commented on #103
@yhAm0729 I believe this is not an issue but normal behavior. With sample code, keys from sector 1 are changed. If you want to read data or write on it again after first writing, you will have to use the news keys defined on `aiToWrite` instance.

[2016-06-30 09:21] yhAm0729 commented on #103
OK, I will try your suggestion. I hope it will work. Thanks!

    On Thursday, June 30, 2016 2:15 PM, Maxime C. <notifications@github.com> wrote:

 @yhAm0729 I believe this is not an issue but normal behavior. With sample code, keys from sector 1 are changed. If you want to read data or write on it again after first writing, you will have to use the news keys defined on aiToWrite instance.—
You ar

[2016-07-01 11:13] Liryna commented on #105
Hi @FranjoMlakar ,

This has been fixed and test in 1.83. It now work correctly like this:
[code]

[2016-07-01 11:13] #105 closed

[2016-07-18 14:14] Liryna commented on #99
I have not been able to reproduce the issue BUT I have been able to get the SAME error message when I was authenticating with the correct key value and the wrong version (yes, this work) and this key will be used during changeKey and will fail because the correct version is mandatory here.

[2016-07-18 14:14] #99 closed

[2016-07-23 05:50] ishara0925 opened #107 "System.Runtime.InteropServices.COMException When continuously reading cards"
Hi,
I have run the sample code with ACR122U reader for a MiFare1K card. It work without error as long as I read one card and terminate the program. But when I try to read cards inside a while loop so that program doesn't exit when the card removed. It will wait for a another card to be inserted. But when it comes to the second card it gives me the following exception. how can I solve this?

![imag

[2016-07-23 06:20] Liryna commented on #107
Hi @ishara0925 ,

Can you copie past all your code with the while ?

[2016-07-23 06:34] ishara0925 commented on #107
Thank you for the fast reply .here you go.
`       static void Main(string[] args)
        {
            // Explicitly use the PC/SC Reader Provider.
            IReaderProvider readerProvider = new PCSCReaderProvider();

            // Create the default reader unit. On PC/SC, we will listen on all readers.
            IReaderUnit readerUnit = readerProvider.CreateReaderUnit();
            byte[]

[2016-07-23 07:48] Liryna commented on #107
@ishara0925 , can you move the ConnectToReader and DisconnectFromReader outside the while ?
This should only be made at the start and at the end of your job.

[2016-07-23 07:57] ishara0925 commented on #107
I did. But the error still comes. Now it is looked like this.

[code]

[2016-07-26 03:12] ishara0925 commented on #107
Hi,
I tried the same thing with a timer interrupt in C# Form Application. It also gives me the same error can't read the card twice. Could this be a library issue?
Thank you

[2016-07-26 15:33] Liryna commented on #107
it is probably the behaviour of the reader with load key.
https://github.com/islog/liblogicalaccess/blob/1e6af52b1c45ab55e3b21a4cd92ac2f6227cc93f/plugins/pluginsreaderproviders/pcsc/commands/mifarepcsccommands.cpp#L50

Are you able to reproduce the code in c++ and see which part is failing here ?

[2016-07-26 16:59] xaqq commented on #107
Hello,
I have a partial reproduction using C++. Actually, I don't even go as far as you did, because I get "Operation Failed" as soon as I try to load a key (even the first time).

This is indeed related to what @Liryna linked. The code works correctly when we force to `volatile` memory. My local fixe consists of editing acsacrresultchecker and marking the `{0x63, 0x00}` error code as `CardExcepti

[2016-07-26 18:06] Maxhy commented on #107
We may probably load the key in volatile memory by default btw instead of non-volatile, in most use case you don't want to store it on the reader forever...

[2016-07-27 07:55] ishara0925 commented on #107
hi,
Do I have to rebuild the source project to get lib files?

[2016-07-28 08:38] Maxhy commented on #107
Yes you will have to rebuild to test it.
Otherwise if you don't want to rebuild yourself then you will have to wait for the next release in few weeks.

[2016-08-04 12:34] scharada commented on #3
any updates on this Item ? the EV2 shipped last year ...

[2016-08-04 12:47] Liryna commented on #3
@scharada The EV2 was released some month ago. Not shipped last year

[2016-08-22 08:48] Maxhy commented on #107
@ishara0925 a new release was just published which includes this fix.

[2016-08-31 19:01] yhAm0729 commented on #103
Hi friend!

I've been watching the latest news on tv and I've seen something amazing, just take a look <http://sechaconu.efileflorida.com/e3tlvcj>

Thx, William Jr Gaspar

[2016-09-13 14:24] PeVoo opened #108 "GetFileSettings crashes for cyclic record file on DESFire EV1"
Hi,

The method IDESFireEV1Commands.GetFileSettings crashes if used on a cyclic record file. I'm using C# and COM object 1.83, but the error is unmanaged and cannot be even caught by VS, so it must be in the library (or COM). Please help, it's urgent.

Example application to reproduce the error:

[code]

Application's output: [screen here](https://postimg.org/image/t5km3srgv/)

As you can see, the

[2016-09-13 14:37] PeVoo commented on #108
**This is from the Event Viewer:**

[2016-09-13 18:07] guillerot opened #109 "ACR122 supported"
Hi,

On the supported hardware page, it is not clear which ACR122 is supported (ACR122U/ACR122S)
Are they both supported ?
Does this support require the use of liblogicalacccess-libnfc ?

Regards,
Adrien G.

(PS: merci pour cette superbe lib)

[2016-09-13 20:13] Maxhy commented on #109
ACR122U is supported by default with liblogicalaccess over PC/SC. If you want you can also use it through libnfc using liblogicalaccess-libnfc but there is generally no real requirement for that here.
ACR122S is not supported. I believe the command set is the same so if this is what you're looking for, a new ACR122S reader plugin can be easily created on liblogicalaccess that use same command clas

[2016-09-13 20:20] Maxhy commented on #108
This looks like a bug indeed, probably on the COM wrapper. I'm going to fix it when I get some times for it, thanks for the report! Fix will be provided on 1.85 release planned around October.

[2016-09-13 22:04] guillerot commented on #109
I will see if I can work on a new plugin for the ACR122S. Not sure if it will be easy for me, my first language is C# (and that's why liblogicalaccess interest me, because there is a wrapper already available :smile: )

[2016-09-14 07:29] guillerot commented on #109
So based on the ACR122S communication protocol given on this page:
http://www.acs.com.hk/en/driver/121/acr122s-serial-nfc-reader/
+ existing classes using SerialPortDataTransport (ie: stidstrreaderdatatransport)
I should be able to add easily a new plugin ?

[2016-09-14 14:53] #107 closed

[2016-09-14 14:59] Maxhy commented on #109
Yes indeed that's the card, but you will also need to create a reader provider and reader unit for your reader (probably generic to all ACS Serial Port readers). Once you're ready, don't hesitate to suggest your PR and I will gladly review it.

I don't have this reader so I cannot help you, but if your project is for personal use or open source project then simply offer us a ACR122S reader and I w

[2016-09-16 09:29] m8kwr opened #110 "Windows Service"
I am getting the following error when using code when trying to use the example .net code in a windows service.

It errors on the following code:

[code]

[2016-09-16 09:31] Liryna commented on #110
@m8kwr Hi,

This mean the installation of liblogicalaccess didn't work.
Please try to reinstall

[2016-09-16 13:28] m8kwr commented on #110
Many thanks.  I think there is an issue with my machine, as all worked as expected on another.

[2016-09-16 13:48] #110 closed

[2016-09-16 13:50] Maxhy commented on #109
Closing this as it's not a real issue, but feel free to continue the discussion if you want to.

[2016-09-16 13:50] #109 closed

[2016-09-16 13:52] guillerot commented on #109
Thanks for your time. I will continue the discussion if I start to work on the plugin.

[2016-09-20 14:58] guillerot opened #111 "Mifare authenticate answer incorrect for OK 5553"
Hi,

From what I've read here : http://www.nfc-webshop.com/media/wysiwyg/download/rfid/rfid_reader/hf/iso15693/protocol/TAGscan003_UserManual_HF_Multi_ISO_RFID_1.pdf

- 'L' Login success
- 'F' Error: General failure
- 'N' Error: No tag
- 'O' Error: Operation mode failure
- 'R' Error: Out of range
- 'X' Error: Authentication failed

I might be wrong but test on answer seems incorrect for MifareOK55

[2016-09-22 04:03] Maxhy commented on #111
Indeed this looks incorrect. Even if it is a small change, could you suggest a PR so credits will go to you on git history :smile:?
Otherwise I would not recommend to use this reader for new projects as it is deprecated by the manufacturer.

[2016-09-22 07:02] guillerot commented on #111
I will.
We do not use this reader. I was looking for inspiration before working on a ACS ACR122S Plugin (and maybe an ACR1281S).

[2016-09-22 19:43] billylukito opened #112 "OutOfMemoryException when trying to initialize PCSCReaderProvider"
Hi,

I'm trying to initialize a PCSCReaderProvider object but OutOfMemoryException occurs.

This is the code that produces the error:

` IReaderProvider readerProvider = new PCSCReaderProvider();`

and this is the error message:

Could you help me what to do with this error?

Thanks,
Billy

[2016-09-22 19:47] Liryna commented on #112
Hi @billylukito ,

Does the smart card service is started on your windows ?
Also, does the library is correctly installed ?

[2016-09-23 02:47] billylukito commented on #112
It looks like the service is the problem.
The OutOfMemoryException solved when the service runs.

Thank you very much @Liryna .

[2016-09-23 05:15] #112 closed

[2016-09-26 11:23] PeVoo opened #113 "NXP RD720 card reader doesn't detect any cards"
I've got a new reader NXP RD720, with its original drivers from NXP's site. It is detected by the library and reported as "NXP Pegoda N CL 0 0". In the Device Manager it is reported as "NXP Pegoda USB" under "Smart card readers".

The WaitInsertion method always returns false and no card is ever reported. The reader is OK, because I can both detect and read cards with NXP's RFIDDiscoverLite softwa

[2016-09-26 11:49] Liryna commented on #113
Hi @PeVoo ,

Does the software readcard http://www.islog.com/logiciels/readcard/ succeed to show the card ?

[2016-09-26 14:51] PeVoo commented on #113
@Liryna Nope, not on this reader. The Omnikey reader works fine (both in readcard and my app).

[2016-09-29 10:08] m8kwr opened #114 "Attempts to Reinstall Card Driver once read"
Have an issue when a card is read, after it has been read the card driver attempt to re-install again.

[2016-09-29 10:46] silverfrost opened #115 "What do I need to include to distribute LibLogicalAccess?"
I have some code that works very nicely in .NET with liblogicalaccess. I want to ship the code -- what do I need to send?  I could the the full liblogicalaccess but that is many times the size of my app :) Presumably I need to ship the core files and the drivers DLLs for hardware.

Which are the core files? Do I have to regsvr some of them?

[2016-09-29 10:49] Maxhy commented on #114
That's because of PC/SC changes since Windows 7. RFID cards are handled as regular smartcard and Windows try to install a CSP. You should disable the global policy or make some specific card ATR exception (this is what LibLogicalAccess installer do when you installer the COM layer for C# use, for main RFID chips technologies but not all).

See https://support.microsoft.com/en-us/kb/976832

[2016-09-29 10:49] #114 closed

[2016-09-29 12:06] Liryna commented on #115
If you use .NET you will need to use the full installer because the .NET link with all libraries.

[2016-09-30 11:37] Maxhy commented on #113
Mhh this is weird as it should work the same for all PC/SC readers (it is at least the case for the ~30 PC/SC readers I tested until today). I don't know about NXP RD720 reader but previous models NXP RD701 wasn't PC/SC compliant. This one looks indeed to support PC/SC according to the specification. Maybe it is a reader behavior conflicting with LLA implementation. Feel free to manually debug it

[2016-09-30 12:32] yhAm0729 commented on #103
Greetings!

Have you ever seen such a cool thing before! I  swear  you haven't! Check  it out  <http://follow.coppervalleyinc.com/e7luzflj>

Sincerely, William Jr Gaspar

[2016-09-30 12:45] #111 closed

[2016-09-30 12:50] Maxhy commented on #115
Indeed, and it will be the same for the coming [LibLogicalAccess SWIG wrapper](https://github.com/islog/liblogicalaccess-swig).
Ideally the SWIG wrapper will be flexible and works also with plugins but that's not the case at current state (open for suggestion)..

[2016-09-30 12:50] #115 closed

[2016-09-30 12:56] silverfrost commented on #115
Okay. I use liblogicalaccess for DESFire, and I suspect there will be fairly few (numbers of ) users. So I might just detect if it is there and tell them to install it separately.

So if the DLLs that I am not using are not there the .NET stuff will not work?

[2016-09-30 12:57] silverfrost commented on #108
Have you tried redoing an Authenticate before calling GetFileSettings?

[2016-09-30 13:06] Afterster commented on #115
Unfortunately that's right when using .NET, all dll need to be deployed because the COM layer link with it.
Btw, you should use LibLogicalAccess.exe installer that is provided at each release which also check for VC++ runtime dependencies, you can install it in silent mode with `/quiet`.

Feel free to share a link to your project/product as it is always interesting to know where LLA is helping ;)

[2016-09-30 13:06] Maxhy commented on #115
Unfortunately that's right when using .NET, all dll need to be deployed because the COM layer link with it.
Btw, you should use LibLogicalAccess.exe installer that is provided at each release which also check for VC++ runtime dependencies, you can install it in silent mode with /quiet.

Feel free to share a link to your project/product as it is always interesting to know where LLA is helping ;)

[2016-09-30 13:11] silverfrost commented on #115
It is in this product (or will be): https://www.easybadge.com/

[2016-09-30 14:07] Maxhy commented on #115
This looks nice! 👍

Don't forget the legal open source credits mention ;). Just kidding (even if true :smile:) but any reference to ISLOG or LibLogicalAccess somewhere would be appreciated if it helps your business.

I will also promote ours here as I know LLA is mainly used on commercial and closed source software (general talking, please don't take it personally): regular donations are appreciat

[2016-10-03 10:08] PeVoo commented on #113
I'm sorry but I'm using the C# COM version, so I cannot debug your code. Also I had to give the reader back to its owner, so I don't have it anymore. The only option now is that you get one for your tests.

[2016-10-03 10:11] Liryna commented on #113
The reader seems to be deprecated. It is gonna be hard and expensive to find one.

[2016-10-03 10:16] PeVoo commented on #108
Yes, my file checking loop selects the application and authenticates with the app's master key (0) before each file's settings are read. Other files read correctly, only the cyclic crashes. And it crashes in non-catchable way, so I can't even try to check the app's files without the risk of crashing my app. And that's really bad. I had to write a really ugly workaround.

[2016-10-04 05:25] Maxhy commented on #113
I agree. I will close this issue with`wontfix` as chances that it will be fixed is low now. If someone want a fix for this reader, please offer such reader to Liryna or myself.

[2016-10-04 05:25] #113 closed

[2016-10-06 08:37] Maxhy commented on #108
Tested on 1.85.0 with your sample code successfully!

[2016-10-06 08:37] #108 closed

[2016-10-08 08:39] yhAm0729 commented on #103
Hello!

I've recieved a message from our friends, and they have  a  surprise for  us! Just take a look <http://will.davidpruter.name/e3rwawf>

My Best, Milf Selfies

[2016-10-10 13:12] cxminer opened #116 "DESFireProfile missing"
I was trying to replicate C code into C# from [MIFARE SAM AV1 AV2 examples](https://github.com/islog/liblogicalaccess/wiki/MIFARE-SAM-AV1-AV2-examples), but I noticed that at the end of that page there is a call `std::dynamic_pointer_cast<logicalaccess::DESFireProfile>(chip->getProfile())->setKey(0x521, 1, key);` but class `DESFireProfile` is missing from my LibLogicalAccess library (version 1.85.

[2016-10-10 13:25] Maxhy commented on #116
Indeed `Profile` was removed from latest liblogicalaccess versions. You should directly pass the key object to the `authenticate` command.

[2016-10-10 13:28] #116 closed

[2016-10-10 13:32] cxminer opened #117 "SAM Detected is not the SAM waited"
With:
[code]
I get an error saying "SAM Detected is not the SAM waited" when calling `readerUnit.ConnectToReader()`.

I don't know what I am missing here. The SAM reader clearly is the SAM waited as I got the SAM reader name from calling `new PCSCReaderProvider().GetReaderList();`. I am also certain that the key and SAM type I used are correct.

_I know this is more of a forum kind of a post, but

[2016-10-10 13:42] Maxhy commented on #117
I believe you're using  a NXP SAM AV2 chip here? Be aware that these chips are provided in SAM AV1 mode by default and you have to switch to AV2 mode if you want to use AV2 features.
If you don't know about that, please take a look at NXP documentation or use a SAM production software (eg. [SAM Manager](http://www.islog.com/en/software/sam-manager/)) to pre-initialize your SAMs.

Indeed there is n

[2016-10-10 16:21] #117 closed

[2016-10-11 08:44] cxminer commented on #117
Thank you for your response and help.

Yes I am using SAM AV2 chip but we got it from a provider which I believe already initialized SAM to AV2 mode. Also when I try to run the following snippet:

[code]

I get an error "Object reference not set to an instance of an object." because `chip.commands` cannot be cast to `SAMAV1Commands`, however if I change this to `SAMAV2Commands` it works (the call

[2016-10-11 09:13] Liryna commented on #117
Hi @cxminer ,

What is the error returned by LockUnlock ?

[2016-10-11 09:25] cxminer commented on #117
I get `conditions of use not satisfied, invalid key type, invalid CID, key limit reached`. However I am sure that my key is correct. Here is the code snippet for my key:

[code]

The value of my key is different of course, but same in length. _(can't really post it here)_

[2016-10-11 09:26] Liryna commented on #117
@cxminer you need to check the configuration of your keyentry and find out if you have a right to perform the lockunlock request on it and also the current state of your SAM.

[2016-10-11 09:41] cxminer commented on #117
Let me see if I got this right @Liryna. by _"check the configuration of your keyentry"_ you mean the `KeyEntryInformation` property? I tried that and I figured out that I have 3 keys in there (I assume those are the 3 diversified keys) at position 0x00, 0x01 and 0x02 however I am not clear on what the fields in `s_KeyEntryAV2Information` mean so I will need to investigate this further.

About _"if

[2016-10-11 09:48] Liryna commented on #117
@cxminer This informations is in the NXP documentation that is under NDA. I will not be able to provide it unfortunately 😢 .
The SAM is a difficult hardware to handle and liblogicalaccess offer an easy way to use his functionality with a minimum of knowledge on it but still needed.

I would like to help you more on this but do not see how to do it without breaking the NDA that we signed with NXP.

[2016-10-11 09:52] cxminer commented on #117
Ah yes I see, well, thank you for all your help. Our company also signed the NDA with NXP and are waiting for approval, I just thought I can figure it out without the proprietary documentation but I guess not. 😆

Much appreciate all your help @Liryna and @Maxhy.

[2016-10-11 10:22] Maxhy commented on #117
You're welcome! I hope you will found liblogicalaccess useful, please feel free to share your company name for the record.

We hesitate to provide some "LLA Users Directory" where users could register themselves and have access to more information and support according to several criteria (confirmed LLA advertising, confirmed NXP partner, ISLOG contracted support plan, ...). This idea originally c

[2016-10-26 14:29] silverfrost opened #118 "WaitInsertion seems to connect to the wrong reader"
In my .NET app I use (with version 1.85):

[code]

However, when the card arrives at the encoder in the printer it chooses the wrong encoder and produces:

"A first chance exception of type 'System.Runtime.InteropServices.COMException' occurred in printcard.exe

Additional information: The ATR length must be at least 2 bytes long (TS + T0)."

The reader it selects is "OMNIKEY CardMan 5x21 0" when

[2016-11-04 15:51] Maxhy commented on #118
Indeed this is because your application probably communicates with the wrong reader. You should browse all available readers (`_ReaderProvider.GetReaderList`) and explicitly use the expected reader unit instance.

[2016-11-06 15:50] silverfrost commented on #118
I was fooled by the fact that the returned objects from GetReaderList just look like COM Objects -- with no obvious way of using them. When I did

object readers = (_ReaderProvider.GetReaderList) as object[]);
_ReaderUnit = readers[0] as IReaderUnit;

I could then see the reader unit. I'll try that on my odd setup.

[2016-11-07 05:00] #118 closed

[2016-11-07 14:50] maxim-smirnov opened #119 "Gentoo Build"
After building and installing library, nor return available plugins.
Return of sample program:
`Available reader plug-ins (0):
Available card plug-ins (0):
Please type the reader plug-in to use:`

After printing anything and pressing enter it crashes with segmentation fault

[2016-11-07 14:52] Liryna commented on #119
hello @maxim-smirnov ,

It seems like the liblogicalaccess is not able to find where are your plugins.
Can you copy https://github.com/islog/liblogicalaccess/blob/master/liblogicalaccess.config near you application and add here https://github.com/islog/liblogicalaccess/blob/master/liblogicalaccess.config#L27 the folder of plugin ?

[2016-11-07 15:09] maxim-smirnov commented on #119
Hi^ thank you for fast reply. I've already tried many combinations of <PluginFolder> like /usr/local/lib, /url/lib etc. Now I've launched program with enabled log to cerr. Here it is: http://pastebin.com/Zpj7iYgi

It says there is no plugins in /usr/local/lib, here is content of /usr/local/lib folder:
cmake                              liblegicprimecards.so.1.85.0
liba3mlgm5600readers.so

[2016-11-07 15:15] Liryna commented on #119
😮 He should normally find them

Can you add more logs here https://github.com/islog/liblogicalaccess/blob/master/src/dynlibrary/librarymanager.cpp#L252
He seems like to not pass this if

[2016-11-07 15:17] maxim-smirnov commented on #119
Rebuilding lib? 😄 Sweet)

[2016-11-07 15:20] Liryna commented on #119
😢 yes, but this is very strange that boost return that the path does not exist/not a folder.
Does your user have access to the folder ?

[2016-11-07 15:24] maxim-smirnov commented on #119
So, LOL. It says that directory is'n exist:

2016-Nov-07 20:27:25.503767 - PLUGIN: 	{252}	{scanPlugins}	{/home/user/liblogicalaccess/src/dynlibrary/librarymanager.cpp}:
For "/usr/local/lib"
Is existing: 0
Is it a directory: 0

Yes, user have access. May be it's problem with symlinks?

[2016-11-07 15:32] maxim-smirnov commented on #119
Although, I've tried to run program with root. No effect.
Just tried with lib64 (without symlinks). No effect.

Boost version 1.62.0

[2016-11-07 15:34] Liryna commented on #119
We are using debian/ubuntu versions here 1.54/1.55 but this is impressive if boost broke it 😮

[2016-11-07 15:35] maxim-smirnov commented on #119
It's printing pluginDir variable with quotes at the beginning and at the end of string. Is it normal?

[2016-11-07 15:36] Liryna commented on #119
There should be not quotes at the begining and end of the path.

Like in this print

[2016-11-07 15:41] maxim-smirnov commented on #119
It's printing (*it):
`LOG(LogLevel::WARNINGS) << "Cannot found plug-in folder " << (*it);`

In my LOG call:
LOG(LogLevel::PLUGINS) << "For " << pluginDir << "\nIs existing: " << boost::filesystem::exists(pluginDir) << "\nIs it a directory: " << boost::filesystem::is_directory(pluginDir);

[2016-11-07 18:45] Liryna commented on #119
@maxim-smirnov what is the output of your log ?

[2016-11-07 19:26] maxim-smirnov commented on #119
It's defiantly problem with boost:
http://pastebin.com/4AQmU5h1

[2016-11-07 19:27] Liryna commented on #119
That's really surprising 😮 !
Do you think we should do something about it ? Check in another way ?
If you remove the line, does he load correctly the plugins ?

[2016-11-07 19:32] maxim-smirnov commented on #119
Removed if-else, scanning without exist checking:
[code]

[2016-11-07 19:34] Liryna commented on #119
😥 this is totally broken

Does even a boost sample behave the same ?

[2016-11-07 19:34] maxim-smirnov commented on #119
May be it's a bug in boost, cause running this:
[code]
Returns:
`0`

[2016-11-07 19:44] Liryna commented on #119
😢 Ok well I hope this will be fixed by boost

[2016-11-07 19:45] maxim-smirnov commented on #119
But! Building this boost code with clang gives working program.
My be try to build your lib with clang?)

[2016-11-07 20:24] maxim-smirnov commented on #119
Ok, thank you for wasted time. I'll try to do something with this. 😄

[2016-11-07 21:10] maxim-smirnov commented on #119
Do not beat me, but I've compiled your lib with clang, now the output of the log is:
[code]

[2016-11-07 21:23] Liryna commented on #119
Where did you find this function 😮  `getAvailableReaders` ?

[2016-11-07 21:50] maxim-smirnov commented on #119
In LibraryManager class?)

Ok, sample now working. Plugins are loading. But here is little stump:
[code]
When I'm attaching any card.

[2016-11-07 22:27] maxim-smirnov commented on #119
So here is the full log after scanPlugins operation.
http://pastebin.com/WEyx3udV
I really believe that you'll help me, cause now i'm very close to the solution. I've dug toons of code, forums, bug reports, issues trackers, and now it's launching, and almost working.
❤️

[2016-11-08 07:14] Liryna commented on #119
Your card/VMware reader seems to not like RESET pcsc command. (SCARD_W_UNRESPONSIVE_CARD	0x80100066L	The smart card is not responding to a reset.) https://msdn.microsoft.com/en-us/library/ms936965.aspx

The exception happen here: https://github.com/islog/liblogicalaccess/blob/master/plugins/pluginsreaderproviders/pcsc/pcsc_connection.cpp#L25

I have no idea why this is happening :'( Maybe should "

[2016-11-08 07:45] maxim-smirnov commented on #119
I've connected reader with another interface. Now everything is fully working. Thank you for support!

[2016-11-08 07:45] #119 closed

[2016-11-08 08:10] Liryna commented on #119
No problem @maxim-smirnov and thanks for the feedback !

[2016-11-19 16:03] TheAifam5 opened #122 "Naming conventions"
Hey,
Which naming convention you using???
I see actually: under_score, camelCase, PascalCase

Can you decide to use one, not 30?

Regards, Mateusz

[2016-11-19 18:14] Maxhy commented on #122
Such comments are so much appreciated! Should I say thanks?

It's probably because the library is 8 years old with several contributors (even before it was made public). You're right that only one code convention should be used but there is way to say it. Anyway...

[2016-11-19 18:14] #122 closed

[2016-12-16 13:21] Liryna commented on #92
https://github.com/islog/liblogicalaccess/commit/00f58debe4ff68c7305f8da201f5002a4320e901

[2016-12-16 13:21] #92 closed

[2016-12-16 21:05] TomHyhlik opened #123 "Problem with instalation this library"
Hi, I am using Linux Mint and I am a little new here.
When I am following instructions of adding the repository, after final comand apt-get update it returns this:
E: Malformed line 1 in source list /etc/apt/sources.list.d/liblogicalaccess.list (dist parse)
E: The list of sources could not be read.
Please help me with that. Thanks.

[2016-12-16 22:07] Liryna commented on #123
Hi,

look liks the content of liblogicalaccess.list is incorrect. The script that you used is made for debian. You need to set a correct distrib in liblogicalaccess.list.

[2016-12-16 22:34] TomHyhlik commented on #123
Thanks for reply. This is content of my liblogicalaccess.list, but I don't really understand that. How should I modify it?

deb http://debian.islog.com/  main
deb http://debian.islog.com/  main
deb http://debian.islog.com/  main
deb http://debian.islog.com/  main
aaa
gnet
exit
afbbt\
deb http://debian.islog.com/  main
deb http://debian.islog.com/  main
deb http://debian.islog.com/  main

[2016-12-16 22:54] TomHyhlik commented on #123
Thanks for reply. I don't really understand it. How should I modify it?
deb http://debian.islog.com/ main

[2016-12-17 07:42] Liryna commented on #123
You have to use on of the repository name addpted to your Mint.
https://github.com/islog/liblogicalaccess/wiki/Install-LibLogicalAccess#debianubuntu-installation

It should be for exemple: deb http://debian.islog.com/ xenial main

But never tested on mint, you will probably need to rebuild yourself

[2016-12-17 11:14] TomHyhlik commented on #123
Finally the update worked but next installing command
apt-get install liblogicalaccess
reported
E: Unable to locate package liblogicalaccess
so there must be something wrong with the repository.

[2016-12-17 11:58] Liryna commented on #123
@TomHyhlik Our CI use the repository with out issue. Try to change the distribution to stable.

[2016-12-22 12:30] Maxhy commented on #123
Looks like an issue related to your distrib/environment. I believe this is something that have to be fixed on your side, not something we can help with. Feel free to comment here about the resolution.

[2016-12-22 12:30] #123 closed

[2017-01-05 23:12] szgeri opened #124 "MIFARE SAM AV1 AV2 examples dont work"
Removing the Profile logic from the cards broke the SAM examples. A quick rewrite/fix would be much appreciated.

[2017-01-06 06:46] Liryna commented on #124
We will look into it. Thanks for the report.

[2017-01-06 06:46] #124 closed

[2017-01-09 08:35] FeitianSmartcardReader opened #125 "Assertion failed: provider. Cannot get PCSC provider"
Hi

I just want test this lib work with PC/SC reader, my reader is Feitian R502 which is PC/SC reader, the testpcsc works and also the PC/SC API works, does anyone know why give this error?

ben-virtual-machine ben # /usr/local/sbin/pcscd -adf
00000000 pcscdaemon.c:346:main() pcscd set to foreground with debug send to stdout
00000083 configfile.l:282:DBGetReaderListDir() Parsing conf directory: /u

[2017-01-09 08:54] Liryna commented on #125
Hi @FeitianSmartcardReader ,

What is you error ?

[2017-01-09 09:16] FeitianSmartcardReader commented on #125
![cannot_get_pcsc_provider](https://cloud.githubusercontent.com/assets/9547938/21761644/44c0aec6-d68f-11e6-8050-d5e489c42cf3.png)
here is screenshot

[2017-01-09 09:22] Liryna commented on #125
You have to copie https://github.com/islog/liblogicalaccess/blob/master/liblogicalaccess.config in the same folder as the test and change the path https://github.com/islog/liblogicalaccess/blob/master/liblogicalaccess.config#L29 to the location of libpcscreaders.so that you build.

Could it be possible to have an Feitian smartcard reader to do the test ? :heart:

[2017-01-09 09:24] FeitianSmartcardReader commented on #125
Yes, sure. send me mail with your address and phone, I will ship to you.

[2017-01-09 09:31] FeitianSmartcardReader commented on #125
works now. Thank you very much, ;-)

[2017-01-09 09:31] #125 closed

[2017-01-12 15:31] TomHyhlik commented on #123
I reinstalled my os to ubuntu 16.04 LTS and than it woeks, sorry for annoying...

[2017-02-03 06:29] Dizgah commented on #3
Is there any program to supporting EV2 cards?

[2017-02-03 06:58] Liryna commented on #3
DESFire EV2 is a closed source plugin currently. See https://github.com/islog/liblogicalaccess/wiki/Install-LibLogicalAccess#see-also

[2017-02-03 17:43] Dizgah commented on #3
In the mentioned link there are nothing about Desfire EV2 especially,
As I know confidential rules are same for Desfire EV1 & Desfire EV2,then why one of them supported in open source library and the other one not ?

[2017-02-03 18:21] Liryna commented on #3
@Dizgah We will let the EV2 as closed source for now to motivate companies using the library to support it. It will be move to open-source when the EV2 will be used by the public into some years.

EV2 took time to make, I think you can understand that it deserves some support.

If you have another idea how the library can get support without having desfire as closed source feel free.

[2017-02-13 12:24] neywen opened #127 "debian : apt-get unable to locate package"
Hello,
in a Debian virtual machine, I'm trying to install the liblogicalaccess, using apt-get, as mentioned in the "installation" pages.

[code]

should I download the repository and compile the lib? Or is there any trick I don't know about ?
Thank you for any help,
l.

[2017-02-13 12:43] Liryna commented on #127
Hi @neywen ,

Did you add the repository and apt-get update ?
https://github.com/islog/liblogicalaccess/wiki/Install-LibLogicalAccess#debianubuntu-installation

[2017-02-13 12:55] neywen commented on #127
Hi, thank you for your message.
I've done it, yes, but I've done it the wrong way.

Now I think I get it right :

[code]

But I get 404 errors with the following output :

[code]

does it ring a bell ?

[2017-02-13 12:57] Liryna commented on #127
should be

Since you use stable (wheezy)

[2017-02-13 13:01] neywen commented on #127
ok, that's what the documentation says, I misunderstood.

changes are made, but getting the same results :

[code]

[2017-02-13 13:07] Liryna commented on #127
Try to remove/purge /etc/apt/sources.list.d/liblogicalaccess.list and exec the commands again.

[2017-02-13 13:11] neywen commented on #127
ok, that's fixed the problem.
Thank you a lot for your help Liryna !
l.

[2017-02-13 13:11] #127 closed

[2017-02-20 09:06] Liryna opened #128 "Desfire Ev1 create a big file followed by big write + change key causes "Wrong CMAC""
Calling createApplication, select app, auth 0, createStdDataFile followed by big write + change key causes Logicalaccess to throw "Wrong CMAC".

A workaround is to call  `authenticate(0, key)` between those 2 last calls.

[2017-03-29 15:26] Liryna opened #129 "SEGV with empty keys"
We should protect all `if (memcmp(&key[0], &key[8], 8))`to avoid simple segv

[2017-03-29 15:44] Liryna commented on #129
This could happen if free read settings is set and desfire_CBC_receive is called during read data.

[2017-03-31 08:01] Liryna commented on #129
Should be fixed with https://github.com/islog/liblogicalaccess/commit/9aae4767c63f227f8ffc258f4d39081b19dfd9fd

[2017-03-31 08:01] #129 closed

[2017-04-04 13:05] Liryna opened #130 "Key value - should throw when value set is incorrect"
We should throw an error when string value used to set the key is incorrect like space missing (or event support key without space ?).

[2017-04-20 07:28] silverfrost opened #131 "Creating a DESFire backup file"
I have this code (just the important bits) in c#:

byte[] data_to_write = { 1,2,3,4,5};
IDESFireEV1Commands _EV1Cmd;
...
_EV1Cmd.CreateStdDataFileEV1( (byte)file.Index, enc_mode, rights, (uint)sz, 0 );
_EV1Cmd.WriteData( (byte)file.Index, 0, (uint)sz, enc_mode, data_to_write );

I can subsequently read it back successfully with:
_EV1Cmd.ReadData( (byte)FileNo, 0, Size, Mode );

However... if I cha

[2017-04-20 08:18] Liryna commented on #131
Hi @silverfrost ,

Can you provide the license support reference for C# language ?
In case you do not have one, please contact the support directly to get one See [information](https://github.com/islog/liblogicalaccess/wiki#is-it-free)
We will do our best to examine your case afterwards.

[2017-05-06 23:13] unregistered436 opened #133 "Check lock bytes and r/w properties on NFC tags"
Hello,

I have a Dangerous Things implant that I'm trying to use with ISLOG. On first login I can enroll a tag to unlock my current session, but I cannot store credentials for ongoing authentication.

The chip in this implant is an NXP NTAG216. I used the Dangerous Things app to secure the tag and lock the CC (see this post for a good explanation https://forum.dangerousthings.com/t/dnfc-and-passwo

[2017-05-10 07:23] Maxhy commented on #133
Thanks for the report. This is because current NFC Tag implementation assume that we are the only and unique NFC record. We don't check read/write attributes neither lock bytes, whereas to support your case we should. We are aware about the current implementation limitation but no GitHub issue existed, thanks for creating one ;)

[2017-05-16 08:17] bondhan opened #134 "failed in maven build"
Hi,

Is this project still active? I found difficulties to build the source code and stumbled on maven error below:

[ERROR] Failed to execute goal on project liblogicalaccess: Could not resolve dependencies for project eu.islog.lib.readers:liblogicalaccess:pom:1.85.0: The following artifacts could not be resolved: lib.portable:boost:zip:1.57-light2, lib.crypto:openssl:zip:1.0.0b.2, lib.readers:sc

[2017-05-16 08:19] Liryna commented on #134
Hi @bondhan ,

You need to add islog maven repository to your settings
https://github.com/islog/liblogicalaccess/wiki/Build-Liblogicalaccess#maven-installation

[2017-05-22 08:55] Maxhy commented on #134
Closing as invalid.

[2017-05-22 08:55] #134 closed

[2017-05-22 12:01] Maxhy opened #135 "ChangeKey from DES to AES on PICC Master Key set wrong version"
The version is only wrong when changing a key from DES to AES. Otherwise it is ok (DES to DES or AES to AES). The cryptogram may be wrong on this case.

[2017-05-31 12:38] xaqq opened #140 "CMake / Make on Linux generates invalid depend.make file"
The issue presents itself when trying to build the project while already have liblogicalaccess
installed under /usr/local/.
In this case, installed header file are then located at: /usr/local/include/logicalaccess.

Running "cmake -DUNIX=1 .. && make" will generate a `depend.make` file that is incorrect: cpp files will depend on header installed under /usr/local/include/logicalaccess rather than i

[2017-08-09 14:32] Liryna commented on #3
NXP DESFireEV2 MF3Dx2 ISO7816 has been implemented with full features and Secure Messaging
See
https://github.com/islog/liblogicalaccess/commit/8a249c6efa5cde62df3ad339a76d979fc8fb12a3
https://github.com/islog/liblogicalaccess/commit/29528ef7b5b2ba33e34899207158478219d61dd8

[2017-08-10 06:15] Dizgah commented on #3
Really thank you for this commit,Does this commit support special features of EV2(e.g. multi-application solutions) ?

[2017-08-30 13:48] #128 closed

[2017-08-30 13:51] Liryna commented on #3
DESFireEV2 with EV2 Authentication now support SAM AV2 authentication.
Changekey with SAM cannot be used currently because of SAM AV2 crypto limitations.
We will need to wait AV3 to make it happen.

[2017-10-05 16:42] Liryna commented on #135
https://github.com/islog/liblogicalaccess/commit/9be3641d285239f080487ad34a9b8a71ad43fc9d

[2017-10-05 16:42] #135 closed

[2017-10-26 13:57] Liryna opened #142 "ChecksumDataField should be implemented"
Would be nice to have a CRC, sha, md5....DataField

Currently we only have the hpp:
https://github.com/islog/liblogicalaccess/blob/master/include/logicalaccess/services/accesscontrol/formats/customformat/checksumdatafield.hpp

[2017-10-26 14:07] Liryna opened #143 "BinaryFieldValue inherit from Key"
We should not reuse Key for BinaryFieldValue .
It should be changed.

[2017-10-27 16:01] Liryna commented on #3
This can now be closed.
Added to supported hardware https://github.com/islog/liblogicalaccess/wiki/Supported-hardware

[2017-10-27 16:01] #3 closed

[2017-11-06 15:29] Liryna opened #144 "DESFire and SAM ChangeKey PICC"
This check should not be done for old when PICC key is changed
https://github.com/islog/liblogicalaccess/blob/c25dff952b422681f54a3115830a15df98672add/plugins/pluginsreaderproviders/iso7816/commands/desfireiso7816commands.cpp#L287

[2017-11-07 15:48] Liryna commented on #144
Fixed https://github.com/islog/liblogicalaccess/commit/9ea0e7afbb89b9ebee8834817ee5838934ecbc66

[2017-11-07 15:48] #144 closed

[2017-11-27 18:39] Liryna opened #145 "PCSC Resource init"
We should only init the resource at first usage.

https://github.com/islog/liblogicalaccess/blob/ba772e95fcf0615cb824d76ba21ae2a28ee3f0ad/plugins/pluginsreaderproviders/pcsc/pcscreaderprovider.cpp#L27

[2017-12-19 15:33] Liryna commented on #145
https://github.com/islog/liblogicalaccess/commit/3777facdd112f323932574fa61c3641c83e355a1

[2017-12-19 15:33] #145 closed

[2017-12-19 15:40] Liryna opened #146 "Mifare - setSectorToMAD always use Key B for write"
Now: https://github.com/islog/liblogicalaccess/blame/master/plugins/pluginscards/mifare/mifarecommands.cpp#L87
Key A is for read and key B is for write always.

Before we could change this: https://github.com/islog/liblogicalaccess/blame/2f5f3edcc65f6b034e4f9dab94dd7f2a69e1e81e/plugins/pluginscards/mifare/mifarecommands.cpp

[2017-12-19 22:21] xinthose commented on #127
[code]

[2017-12-20 15:14] xinthose opened #147 "Issue connecting to ACR1252."
Hello,

   I am following your Quick How To (C++) guide and am getting the following error:
`The ATR length must be at least 2 bytes long (TS + T0).`
after this cout:
`Waiting 15 seconds for a card insertion...`
with the following code:
[code]
- I am using this reader: [ACR1252](https://www.amazon.com/ACR1252U-USB-NFC-Reader-III/dp/B01KIKBYAG/ref=sr_1_1?ie=UTF8&qid=1513782405&sr=8-1&keywords=acr12

[2017-12-20 16:03] Liryna commented on #147
Hi @xinthose ,

You need to select the correct reader. You are probably using the contact reader here.
See https://github.com/islog/liblogicalaccess/blob/master/samples/basic/basic.cpp#L62

[2017-12-20 16:33] xinthose commented on #147
@Liryna Thank you.  I figured out that I should be using this code:
[code]
instead of this line:
`readerConfig->setReaderUnit(readerConfig->getReaderProvider()->createReaderUnit());`
 This example helped me to figure this out:  [liblogicalaccess/samples/basic/basic.cpp ](https://github.com/islog/liblogicalaccess/blob/master/samples/basic/basic.cpp)

[2017-12-20 16:34] #147 closed

[2017-12-21 16:21] xinthose opened #148 "Mifare Ultralight writePage"
https://github.com/islog/liblogicalaccess/blob/34c3335d6c23d22dfc932e64116928dc8f80ac87/plugins/pluginscards/mifareultralight/mifareultralightcommands.hpp#L68

        /**
         * \brief Write a whole page.
         * \param sector The page number, from 0 to 15.
         * \param buf A buffer to from which to copy the data.
         * \param buflen The length of buffer. Must be at least 4 bytes

[2017-12-22 09:35] Liryna commented on #148
Hi @xinthose ,,

Thank you for the report.
I have rename the issue because this is not only linked to ultralight. We shouled review all the documentation of LLA.

[2017-12-23 02:05] xinthose commented on #148
@Liryna You're welcome ma'am.  I have seen the same thing you have said: inconsistent documentation (or incorrect functions).

[2018-01-04 16:29] #146 closed

[2018-01-12 19:06] Dirk1980ac opened #149 "Compile of v1.85.0 fails"
On my Linux system (Fedora 27) compile fails with error message as follows:

/home/dgottschalk/Projects/liblogicalaccess-1.85.0/plugins/cryptolib/src/evp_pkey.cpp: In Elementfunktion »int logicalaccess::openssl::EVPPKey::type() const«:
/home/dgottschalk/Projects/liblogicalaccess-1.85.0/plugins/cryptolib/src/evp_pkey.cpp:32:46: Fehler: falsche Verwendung des unvollständigen Typs »using element_type

[2018-01-12 21:27] Liryna commented on #149
Hi @Dirk1980ac ,

What is your version of boost and openssl ?
Try to pull the current master and rebuild. It is enough stable to be used.

[2018-01-14 12:37] Dirk1980ac commented on #149
I am using
boost 1.64.0
openssl 1.1.0g
both for x86_64 architecture.

I already tried to compile the reopsitories master, but this endet with the same result.

[2018-01-14 14:22] Liryna commented on #149
I cannot say if openssl changed something or it is the version of gcc/clang that you are using that do not support this style of struct.

Travis has no problem to build it https://travis-ci.org/islog/liblogicalaccess

[2018-01-14 14:27] Dirk1980ac commented on #149
I use GCC 7.2.1 and the standarf glibc. Okay, I'll take a deeper look and see if I can find the Problem. Thanks for you advice.

[2018-01-25 13:17] Liryna commented on #149
Hi @Dirk1980ac ,

have you been able to find the issue on the build ?

[2018-01-26 22:03] Dirk1980ac commented on #149
Yes, thank you. I did not find the problem itself, but i did a reinstall of the *-devel packages and now it works. Obviously something was messed up on them.

[2018-01-27 07:12] #149 closed

[2018-01-29 20:14] Liryna opened #150 "RSA_generate_key is deprecated on debian stable"
Openssl version 1.1.0f
[code]

[2018-01-31 09:30] Maxhy opened #153 "PKCS#11 Key Storage"
We should create a new PKCS#11 Key Storage as an alternative to IKS Key Storage.

It would not support all DESFire scope (eg: key usage control for authentication / change key, ...) but would be a standard approach for HSM, without the need to provide an ISLOG Key Server module.

HSM are generally compliant with PKCS#11, OpenSSL, JCA/JCE and/or CryptoAPI. One API compatibility should be enough for

[2018-02-08 23:38] xvoidee opened #158 "Compile error under Ubuntu 16.04 amd64"
Hi,

When I try to build library on Ubuntu 16, I always get following error at the end:

`[ 82%] Built target rplethreaders
[ 83%] Built target scielreaders
[ 85%] Built target smartidreaders
[ 87%] Built target stidstrreaders
[ 89%] Built target stidprgreaders
[ 90%] Built target lla-tests
[ 90%] Linking CXX executable desfireev1_test_general
../../../plugins/pluginsreaderproviders/pcsc/libpcscre

[2018-02-09 06:32] Liryna commented on #158
hi @xvoidee ,

seems like you are missing some dependancy boost.

[2018-02-28 11:03] #158 closed

[2018-06-27 09:57] pwierzchon opened #159 "Make error while building on raspberry pi"
Hi, I wanted to build the library in order to use it on my RPi. But while executing make I get the following communicate:
[code]
Do you have any ideas how can I build it on RPi? Is it even possible?

[2018-06-27 10:04] Liryna commented on #159
@pwierzchon Hi,

You seems to have the wrong OpenSSL version installed or cmake cannot target the correct include directory.

[2018-07-05 10:46] pwierzchon commented on #159
Thanks. Is there a way to know what version of openssl should I use to build this?

[2018-07-05 10:58] Liryna commented on #159
Depends the branch that you try to build:
See https://github.com/islog/liblogicalaccess/blob/master/pom.xml#L779
https://github.com/islog/liblogicalaccess/blob/develop/pom.xml#L780

[2018-10-01 09:12] Liryna opened #160 "DESFire - Read/Write Free"
The code is always expecting to have authentication for read/write. We should be able to read and write without authentication for free files.

[2018-10-14 21:43] xvoidee opened #161 "Omnikey 5427 - get card tag in human readable form?"
Hello,

I'm using HID Omnikey 5427 under Ubuntu 14.04.5 amd64.
Everything is fine except that I am not able to get card ID (it is 6 digits written on the card - 658399).
Card class is HID iCLASS Seos Px H8Y.

This is my sandbox code (modified examples). Which part of API should I use in order to get this ID value?
When I run code I always see that card serial number is changing:
Card Serial Number

[2018-10-14 21:46] xvoidee commented on #161
#include "logicalaccess/dynlibrary/idynlibrary.hpp"
#include "logicalaccess/dynlibrary/librarymanager.hpp"
#include "logicalaccess/readerproviders/readerconfiguration.hpp"
#include "logicalaccess/services/storage/storagecardservice.hpp"
#include "logicalaccess/services/accesscontrol/accesscontrolcardservice.hpp"
#include "logicalaccess/services/accesscontrol/formats/wiegand26format.hpp"
#include "

[2018-10-15 19:32] Liryna commented on #161
Hi @xvoidee ,

This card is currently not supported in the public repository unfortunately for NDA reason.

[2018-10-15 22:21] xvoidee commented on #161
Thank you @Liryna,

How can we use private repository? It is mentioned in wiki, that iclass cards are available on private repo. Is it paid service?

[2018-10-23 08:07] Liryna commented on #161
Hi @xvoidee ,

Yes, it is a paid service that we can only start to propose for companies regarding the needs. If that’s the case, could you send a mail to contact@islog.com and describe your usage.

[2019-01-16 16:41] DatTubaMan opened #162 "Issue storing data on card"
I am using an ACR122 and when asked for login information is says "cannot store data on card". Is there anything i could be doing wrong?

[2019-01-23 10:36] Liryna commented on #162
Hi @DatTubaMan ,

Could you share the code / card that you are using ?

[2019-05-17 06:40] alex-dranoel opened #166 "Segmentation Fault"
Hello, first of all congratulation for this library, it looks very helpful.

However, I quickly ended with a segmentation fault while following basic examples.

After successful installation on ubuntu 18.04 via
`sudo apt-get install liblogicalaccess-dev`
I could easily build and execute the provided basic.cpp example via the command:
`g++ basic.cpp -std=c++11 -W -Wall -Wno-unused-parameter -llogic

[2019-05-17 06:57] Liryna commented on #166
Hi @alex-dranoel ,

Could you try to rebuild using the develop branch ? Maybe there is an issue with the debian packages.

[2019-05-17 08:22] Maxhy commented on #162
Closing for inactivity.

[2019-05-17 08:22] #162 closed

[2019-05-17 08:23] Liryna commented on #161
Closing for inactivity.

[2019-05-17 08:23] #161 closed

[2019-05-17 08:24] Liryna commented on #159
Closing for inactivity.

[2019-05-17 08:24] #159 closed

[2019-05-18 06:24] alex-dranoel commented on #166
Hello, there is no issue, it was my mistake. The desfire ev1 selecetApplication command does not directly takes an integer but needs a Location. And the 0x00000 was interpreted as a null location I guess. So it compiled but crashed at run time.

Might be a good place for an explicit constructor maybe.

Thanks for the quick answer anyway. Exploration continues on my side :)

[2019-05-18 06:24] #166 closed

[2019-06-21 09:55] Maxhy commented on #133
Lock bytes are now supported thanks to @Holocrons.

It is going to be supported on next ISLOG Logon NFC Community version (September 2019). As ISLOG Logon product is outside LibLogicalAccess library scope, I'm going to close this issue here for now.

[2019-06-21 09:55] #133 closed

[2019-06-21 12:01] xaqq commented on #153
This has been implemented.

[2019-06-21 12:01] #153 closed

[2019-06-21 12:05] xaqq commented on #140
We are now using Conan.

[2019-06-21 12:05] #140 closed

[2019-06-21 12:10] Maxhy commented on #26
We currently use Boost 1.68 and OpenSSL 1.0.2r on develop branch.

[2019-06-21 12:10] #26 closed

[2019-06-21 12:14] Maxhy commented on #150
Not used anymore.

[2019-06-21 12:14] #150 closed

[2019-06-21 12:20] Maxhy commented on #84
Cannot be reproduced on latest version, reopen if needed.

[2019-06-21 12:20] #84 closed

[2019-09-23 13:16] gitmalux opened #178 "mvn install failed"
hi,
i am trying to build the library using mvn but I am facing a problem with boost libraries:

Could not find the following Boost libraries:

          boost_filesystem
          boost_system
          boost_date_time
          boost_chrono
          boost_thread
          boost_regex

![boost_error](https://user-images.githubusercontent.com/20838815/65428322-dbd30100-de1c-11e9-86c3-8477d41f06b6.

[2019-09-26 08:00] #178 closed

[2019-11-06 21:23] kasias69 opened #179 "CMake errors"
Hello, when i try to build project by ```cmake -DCMAKE_BUILD_TYPE=[Release] -DCMAKE_INSTALL_PREFIX=./install```

I get this error:
[code]
Whats wrong ?

[2019-11-13 04:47] Maxhy commented on #179
CMAKE_BUILD_TYPE value looks incorrect (should be Release not [Release]...). Moreover we changed a lot the build process since latest merge from develop branch. Until the wiki get updated, please refer to Jenkinsfile to see how it should be built.

[2019-11-13 04:47] #179 closed

[2019-11-14 20:36] minimalisticMe opened #180 "Build Issues with VS2019"
Hey, I configured `liblogicalaccess` via CMake using `Boost v1.71` and `openSSL v1.0.2t` successfully.

Now I want to compile it with using Visual Studio 2019 `v16.3.9`.
However I face a lot of errors (751 in total), such as

[code]

How can I make this work?

[2019-11-14 21:37] minimalisticMe commented on #180
Okay that actually fixable by just adding `#include <string>` to three files.

- `include\logicalaccess\cards\chip.hpp`
- `plugins\cryptolib\include\logicalaccess\crypto\rsa_key.hpp`
- `plugins\lla-tests\utils.hpp`

Another issue is with the latest VS2019-Update, microsoft became stricter regarding the comparison-operator.
So in file `src\readerproviders\tcpdatatransport.cpp` in function `void Tcp

[2019-11-14 21:43] minimalisticMe commented on #180
Is there any possibility to compile `liblogicalaccess` without `rfideas/pcProxAPI.h`?

[2019-11-16 18:51] minimalisticMe commented on #180
Closing, because it was referencing to liblogicalaccess v1.85.0 -> changing to master branch.

[2019-11-16 18:51] #180 closed

[2019-11-16 19:00] minimalisticMe opened #181 "CMake Error"
Hey, I just downloaded the master-branch of liblogicalaccess on Windows 10 and try to create the Solutionfile for VS2019 `v16.3.9` and CMake `v3.16.0`.

First downloaded dependencies via `cmd` , calling `conan install` and it was a success after changing the boost library to `1.71.0`.
However when trying to `Configure` the project via CMake afterwards, I get a couple of errors:

[code]
How can I f

[2019-11-16 19:20] minimalisticMe commented on #181
Closing - I was using `conan` wrong

[2019-11-16 19:20] #181 closed

[2019-12-09 14:17] unregistered436 commented on #133
Was the September 2019 release published? The only version I can download from http://www.islog.com/en/software/islog-logon-nfc-community/ is 4.8.0531. This is the same version I downloaded back in February 2019.

[2019-12-10 10:59] Maxhy commented on #133
It wasn't released yet. It has been delayed but still on track... new target date is end of December for this product update.

[2019-12-13 10:28] Sillimon opened #182 "Mifare - readNDEF & writeNDEF implementation missing"
readNDEF & writeNDEF ain't implemented yet
- Compelled to be calling read/writeNFC thus setting location & AccessInfos ourselves

[2020-05-18 08:26] roelofd commented on #181
I have the exact same problem while trying to build the library. What was the fix for this?

[2020-05-25 11:19] roelofd opened #185 "Undefined reference to library function"
So I have created a very basic "hello world" kind of project which uses the LLA library. I exactly followed all the build and install tutorials, and now started with the [C++ how to](https://github.com/islog/liblogicalaccess/wiki/How-to-Use-Liblogicalaccess). For some reason while trying to compile it gives an "undefined reference" error when a library function is called even though the function d

[2020-05-27 07:59] roelofd commented on #185
I have fixed the issue. When conan is installed in the conan profile the compiler version should be changed to "compiler.libcxx=libstdc++11". This has to do with some compatibility issues with the conan compiler and cmake.

[2020-05-27 07:59] #185 closed

[2020-05-27 15:08] roelofd opened #186 "Program run error: "throwing an instance of 'std::logic_error'""
I have installed the 2.2.1 version of the library on Kubuntu 18.04 with CMake 3.17.1 and Conan 1.25.0.
I tried to follow the [C++ howto](https://github.com/islog/liblogicalaccess/wiki/How-to-Use-Liblogicalaccess) of the liblogicalaccess library and on the second line of code, when running the program it gives the following error:
[code]

**main.cpp**
[code]

The first line of code starting with st

[2020-05-27 15:31] xaqq commented on #186
Hello,

I am not able to reproduce the issue.
Is it possible you have multiple version of the library somehow installed and shared library / plugins are incorrectly selected?
If by using a debugger you are able to identify the source of the throw it might tell us more about what is wrong.

[2020-05-28 08:27] roelofd commented on #186
I only have one version of the library installed, only the 2.2.1 version. I don't have a debugger at this point. I'm installing Clion to maybe find the source of the error in there.

[2020-05-28 08:27] roelofd commented on #186
I only have one version of the library installed, only the 2.2.1 version. I don't have a debugger at this point. I'm installing Clion to maybe find the source of the error in there.

[2020-06-15 14:37] Silur opened #188 "SWIG documentation is missing"
in 2016 there was a swig-wrapper repo, and it's clear from the commits that some refactoring happened around SWIG but there is no documentation how to invoke SWIG on the current source.

Please add a few lines into the wiki?

[2020-07-22 09:21] Maxhy opened #190 "Extend DESFireEV1 access control with authentication key for key div with Random UID"
Add a new optional authentication key definition that could be used to perform a first authentication to retrieve card unique ID to be able to correctly perform further key diversification with Random UID, on Memory Card Service and Access Control Service.

[2021-02-10 11:01] vampik33 opened #194 "getAvailableReaders empty + getReaderProvider is null"
I have build liblogicalaccess and try ti use it in my application.
But when when i try
`logicalaccess::LibraryManager::getInstance()->getAvailableReaders()`
the vector is empty.

Also when i try
`logicalaccess::LibraryManager::getInstance()->getReaderProvider("PCSC")`
the pointer is null

Please help me, why is that happen?

[2021-02-12 18:55] #194 closed

[2021-02-12 18:55] vampik33 commented on #194
It was my fault. Plugins was not placed on config file

[2021-03-06 10:12] Hay1tsme opened #195 "Cannot Build with Visual Studio 2019"
When I try to do `conan install .. --build=missing` on Windows 10 running VS2019, it fails to build boost because the version of boost that is used doesn't know how to build with 2019. The bootstrap.bat file expects vs142 for Visual Studio 2019, but conan attempts to use vs16, which errors out and fails.

[2021-03-15 00:15] c3rebro commented on #195
You have to use boost/1.71.0@conan/stable instead.

Don't forget to change the conanfile.py:

requires = 'boost/1.71.0@conan/stable' ...

[2021-03-16 03:30] Hay1tsme commented on #195
Thank you, that got `conan install` to finish!

Unfortunatly, `conan create` is giving me trouble now. The last line of the log is as follows

`LogicalAccess/2.3.0:
LogicalAccess/2.3.0: ERROR: Package '3c8a64f282955ecee5c3576ee3f3634919e3de37' build failed
LogicalAccess/2.3.0: WARN: Build folder C:\Users\ktroc\.conan\data\LogicalAccess\2.3.0\_\_\build\3c8a64f282955ecee5c3576ee3f3634919e3de37
ERROR

[2021-07-20 09:10] stvsteve opened #196 "unable to build on ubuntu: missing boost"
Hi there!
I'm having trouble building the liblogicalaccess on my ubuntu system. I followed the build instructions on https://github.com/islog/liblogicalaccess/wiki/Build-Liblogicalaccess but hit a snag when executing "conan install .."
Result:
`ERROR: Missing binary: boost/1.68.0@conan/stable:fb235a75272a5d922100bf930fc4e14250c7cfb2

boost/1.68.0@conan/stable: WARN: Can't find a 'boost/1.68.0@cona

[2021-10-05 07:07] Maxhy commented on #195
Most compilers do not need these explicit includes that's why it wasn't properly caught. Should be fixed now. Thanks

[2021-10-05 07:07] #195 closed

[2021-10-05 07:08] Maxhy commented on #188
Correct. We need to finish to split the SWIG library into two libraries then it will be published on GitHub and documented. It's taking some time I know but we are moving forward on this direction...

[2022-01-10 09:16] kaczorws opened #197 "LibLogicalAccess 1.81.0 for KeePassRFID plugin"
Hello,

Is there a way to download compiled windows binaries for version 1.81.0? It seems all download links were taken down and no longer available. I wanted to use that specific version for the KeePassRFID plugin but I have trouble compiling it, probably due to different version of Visual Studio (1.81.0 suggests that older version should be used).

The original link was:
http://artifacts.islog.c

[2022-01-10 15:18] Maxhy commented on #197
See https://github.com/islog/keepassrfid/issues/4

[2022-01-10 15:18] #197 closed

[2022-03-10 14:11] Maxhy commented on #196
@stvsteve the build process has been updated to work correctly outside our infrastructure and to use latest boost. Feel free to try again and comment if you still have the issue. Thanks.

[2022-03-10 14:11] #196 closed

[2022-07-12 10:53] c3rebro opened #204 "Unexpected behavior for authenticate() after change from 1.87.8.1030 to 2.4.0"
Setup:
VS 2019 IDE "RunAs Administrator"
Build Target "x64" "Debug"
Copied all native c++ libraries from SWIG Release to output folder by PostBuild CMD
referenced the .net lib of 2.4.0
Omnikey 5321 reader
Empty Desfire EV1 Card

Hello,

i encountered a behavior i cannot explain and would like to ask for assistence. After changing LibLogicalAccess from 1.87.8.1030 to 2.4.0 (swig) i have a couple of

[2022-07-13 11:56] c3rebro opened #205 "changeKey() Problem in COM Wrapper?!"
Hello,

i currently face the same problem as in #99.

@Liryna: You mean that you were only able to reproduce the error when you force a wrong key version right? I let the keyversion untouched (= 0).

I would like to change one of the keys in the application twice. I get an CRC/CMAC error like in #99 when i try to change it for the second time.

I tried to set the Keysettings to allow_change_with_M

[2022-07-13 15:26] c3rebro commented on #204
My fault. I found the issue:

In 1.87.8 one will set the key by calling

[code]

In 2.4.0 you set it by

[code]

i tried to set it by calling .setCipherKey as the .Value property is missing in 2.4.0.

[2022-07-13 15:26] #204 closed

[2022-07-13 20:55] Liryna commented on #205
Hi @c3rebro ,

It has been a while for me and forgot the exact details here. Sorry for not being able to be more helpful.

[2022-08-08 21:53] c3rebro commented on #205
this issue does no longer occur in 2.4.0

[2022-08-08 21:53] #205 closed

[2022-08-08 21:57] c3rebro opened #206 "__unsupported__ prefix for DesFireEV2"
Hello,

Why is this happening? In 1.87 this same chip was recognised as EV1 (But could be identified as EV2 by getVersion cmd). However, Basic functionality was still given. Now, in 2.4.0 it is somewhat not usable anymore.

Is this a readerspecific behaviour? I use OK5321.

[2022-08-09 19:54] c3rebro opened #207 "Unknown CardService type: MifarePlusStorageSL1 when writing MAD Data to PLUS S chip in SL1"
It seems using a StorageService on SL1 Plus Cards is not implemented?

[code]

The above throws the mentioned LibLogicalAccessNETCE Exception. I tried with:

[code]

[2022-08-10 22:36] c3rebro commented on #206
Hello @Maxhy

Further research showed the following error in the log:

[code]

Unfortunately there seems to be no Symbol in the Code. Or i just cannot find the "getDESFireEV2Chip" Method...

[2022-08-19 08:16] Maxhy commented on #207
Yeah Mifare Plus are not well supported, see #1. We added such chip support a decade ago but we are not testing it anymore as we used to "not like" this chip for several technical reasons. I guess it could be easily fixed if you are using SL1.

[2022-08-19 08:23] Maxhy commented on #206
EV2 is properly supported with LLA but the current implementation is on private repo only. We don't have a fallback to EV1 chip if EV2 chip factory is not being found, this has to be done by the consuming application for now I guess.
I plan to add another EV2 implementation for the public repo as soon as the chip command set got officially shared on the internet (it's not yet the case and I don't

[2022-08-22 17:58] c3rebro commented on #207
OK, Thank you for replying to all questions J

Von: Maxime C. ***@***.***>
Gesendet: Freitag, 19. August 2022 10:16
An: islog/liblogicalaccess ***@***.***>
Cc: Steven ***@***.***>; Author ***@***.***>
Betreff: Re: [islog/liblogicalaccess] Unknown CardService type: MifarePlusStorageSL1 when writing MAD Data to PLUS S chip in SL1 (Issue #207)

Yeah Mifare Plus are not well supported, see #1 <https:/

[2022-10-04 06:56] Maxhy commented on #186
Build process has been cleaned up, should be fixed anyway now.

[2022-10-04 06:56] #186 closed

[2022-10-04 06:59] #182 closed

[2022-10-11 07:21] c3rebro commented on #206
Ok. It looks a little „uncommon“ that a visitor got redirected to HID when trying to open some of the islog website links from the wiki. Is the company sold to HID? And is there still a chance to get the latest .net wrapper for open source projects?

Von: Maxime C. ***@***.***>
Gesendet: Freitag, 19. August 2022 10:24
An: islog/liblogicalaccess ***@***.***>
Cc: Steven ***@***.***>; Author ***@***.

[2022-10-11 08:46] Maxhy commented on #206
Yes ISLOG has been acquired by HID Global mid-2018 ; the ISLOG branding has been stopped since.
Latest .NET wrapper is available on NuGet official repository, be sure to use the version ending by CE for Community Edition.
The related natives binaries can be found on liblogicalaccess-swig repo releases.